<div class="pad-helper"></div>

<div class="filters-fixed" id="filter-bar">

  <div class="bg-wrap">

    <div class="container-fixed">

      <div class="row actions">

        <div class="col-md-12 filters">

          <span class="filter-main-name">Filters:</span> 
            <span 
                class="filter-pop"
                ng-click="vm.toggleOpenPanel('programmes')" 
                ng-class="{'active': vm.isOpenedHeader('programmes')}"
                ng-show="vm.isIncludedFilter('programmes')"
                ng-if="vm.pageName != 'programme'">
              Programmes
            </span>
            <span 
                class="filter-pop"
                ng-click="vm.toggleOpenPanel('recipient_countries')" 
                ng-class="{'active': vm.isOpenedHeader('recipient_countries')}"
                ng-show="vm.isIncludedFilter('recipient_countries')"
                ng-if="vm.pageName != 'country'">
              Countries
            </span>
            <span 
                class="filter-pop"
                ng-click="vm.toggleOpenPanel('budget')" 
                ng-class="{'active': vm.isOpenedHeader('budget')}"
                ng-show="vm.isIncludedFilter('recipient_budget')">
              Budget
            </span>
            <span 
                class="filter-pop"
                ng-click="vm.toggleOpenPanel('sectors')" 
                ng-class="{'active': vm.isOpenedHeader('sectors')}"
                ng-show="vm.isIncludedFilter('recipient_sectors')"
                ng-if="vm.pageName != 'sector'">
              Sectors
            </span>
            <span 
                class="filter-pop"
                ng-click="vm.toggleOpenPanel('activity_status')" 
                ng-class="{'active': vm.isOpenedHeader('activity_status')}"
                ng-show="vm.isIncludedFilter('recipient_activity_status')">
              Status
            </span>
        
            <span
                class="filter-pop"
                ng-click="vm.toggleOpenPanel('transaction_year')" 
                ng-class="{'active': vm.isOpenedHeader('transaction_year')}"
                ng-show="vm.isIncludedFilter('transaction_year')"
                ng-if="vm.pageName != 'results'">
              Time range
            </span>

            <span
                class="filter-pop"
                ng-click="vm.toggleOpenPanel('result_indicator_period_end_year')" 
                ng-class="{'active': vm.isOpenedHeader('result_indicator_period_end_year')}"
                ng-show="vm.isIncludedFilter('result_indicator_period_end_year')"
                ng-if="vm.pageName == 'results'">
              Result time range
            </span>

            <span
                class="filter-pop"
                ng-click="vm.toggleOpenPanel('recipient_implementing_organisations')" 
                ng-class="{'active': vm.isOpenedHeader('recipient_implementing_organisations')}"
                ng-show="vm.isIncludedFilter('recipient_implementing_organisations')"
                ng-if="vm.pageName != 'organisation'">
              Project partners
            </span>

            <span 
                class="filter-pop"
                ng-click="vm.toggleOpenPanel('recipient_implementing_organisation_types')" 
                ng-class="{'active': vm.isOpenedHeader('recipient_implementing_organisation_types')}"
                ng-show="vm.isIncludedFilter('recipient_implementing_organisation_types')">
              Project partner type
            </span>
        
 
            <span 
                class="filter-pop"
                ng-click="vm.toggleOpenPanel('search')" 
                ng-class="{'active': vm.isOpenedHeader('search')}"
                ng-show="vm.isIncludedFilter('search')">
              Search
            </span>

            <span
              class="filter-pop reset"
              ng-click="vm.resetFilters()">
              Reset all
            </span>

        </div>

      </div>

  </div>
</div>

<tool-bar></tool-bar>

<div class="row">
    <div class="col-xs-12">  
        <div class="rel filter-panel-wrap">
            <filter-panel-programmes ng-show="vm.isOpenedHeader('programmes')" class="ng-hide slideDown"></filter-panel-programmes>
            <filter-panel-recipient-countries ng-show="vm.isOpenedHeader('recipient_countries')" class="ng-hide slideDown"></filter-panel-recipient-countries>
            <filter-panel-budget ng-show="vm.isOpenedHeader('budget')" class="ng-hide slideDown"></filter-panel-budget>
            <filter-panel-sectors ng-show="vm.isOpenedHeader('sectors')" class="ng-hide slideDown"></filter-panel-sectors>
            <filter-panel-transaction-year ng-show="vm.isOpenedHeader('transaction_year')" class="ng-hide slideDown"></filter-panel-transaction-year>
            <filter-panel-result-period-end-year ng-show="vm.isOpenedHeader('result_indicator_period_end_year')" class="ng-hide slideDown"></filter-panel-result-period-end-year>
            <filter-panel-implementing-organisations ng-show="vm.isOpenedHeader('recipient_implementing_organisations')" class="ng-hide slideDown"></filter-panel-implementing-organisations>
            <filter-panel-activity-status ng-show="vm.isOpenedHeader('activity_status')" class="ng-hide slideDown"></filter-panel-activity-status>
            <filter-panel-implementing-organisation-type ng-show="vm.isOpenedHeader('recipient_implementing_organisation_types')" class="ng-hide slideDown"></filter-panel-implementing-organisation-type>
            <filter-panel-search ng-show="vm.isOpenedHeader('search')" class="ng-hide slideDown"></filter-panel-search>
          </div>
    </div>
</div>

<!-- transparent filter panel background for hide on click -->
<div 
  ng-hide="vm.isOpenedHeader('')" 
  ng-click="vm.saveFilters()" 
  id="filter-panel-background">
</div>
