<div class="row">
  <div class="col-sm-12">
    <div class="list front-callout">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel">
            With XX programmes, XX projects within XX sectors in {{vm.totalCountries}} countries.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row cirkle-vis">
  <div class="col-sm-6">
    Figure
    <h3>Project distribution</h3>
  </div>
  <div class="col-sm-6">
      Figure
    <h3>Budget distibution</h3>
  </div>
</div>

<hr class="darkblue">

<div class="container list-view-wrapper">
     <div class="row">
        <div class="col-md-12">
            <div class="sort">
                <span class="sort-by">Sort by: </span>
                    <div class="custom-select ff-hack">
                        <select
                          ng-model="vm.order_by"
                          ng-change="vm.toggleOrder()">
                          <option value="name">Name (A - Z)</option>
                          <option value="-name">Name (Z - A)</option>
                          <option value="total_disbursements">Expenditure (increasing)</option>
                          <option value="-total_disbursements">Expenditure (decreasing)</option>
                        </select>
                    </div>
                <span class="results">Results: <span class="total">{{vm.totalCountries}}</span></span>
            </div>
        </div>
    </div>

    <div ng-if='vm.totalCountries == 0' class="row">
        <div class="col-sm-12">
            <div class="extra-padding">
                <h2>Nothing found</h2>
                <p>Please select some different filters.</p>
            </div>
        </div>
    </div>
</div>

<table infinite-scroll='vm.nextPage()' infinite-scroll-disabled='vm.busy' infinite-scroll-distance='1' class="table list-overview">
    <thead>
        <tr>
            <th>Country</th>
            <th>Number of projects</th>
            <th>Number of programmes</th>
            <th>Total budget</th>
        </tr>
    </thead>
    <tbody>
        <tr
            ng-show="vm.countries.length != 0"
            ng-repeat="item in vm.countries">
            <td><a ui-sref="country({ country_id: item.country_id })"><span class="flag-icon flag-icon-{{item.country_id | lowercase }} "></span>{{ item.recipient_country.name }}</a></td>
            <td>{{item.count}} projects</td>
            <td>xx programmes</td>
            <td>{{item.incoming_fund  | shortcurrency :'€'}}</td>
        </tr>
    </tbody>
</table>

<!-- <div class="row" infinite-scroll='vm.nextPage()' infinite-scroll-disabled='vm.busy' infinite-scroll-distance='1'>
    <div class="activity-list-item col-sm-12">
        <div class="panel no-margin-bottom header">
            <div class="row">
                <div class="col-sm-2">
                    &nbsp;
                </div>
                <div class="col-sm-5">
                    <h4 class="no-margin">Country</h4>
                </div>
                <div class="col-sm-3">
                    <h4 class="no-margin">Total budget</h4>
                </div>
                <div class="col-sm-2">
                    <h4 class="no-margin">Total projects</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="countries activity-list-item col-sm-12" 
        ng-show="vm.countries.length != 0"
        ng-repeat="item in vm.countries">
        <div class="panel country">
            <div class="row">
                <div class="col-sm-2">
                    <div class="image" style="">
                    </div>
                </div>
                <div class="col-sm-5">
                    <h3 class="no-margin"><a ui-sref="country({ country_id: item.country_id })"><span class="flag-icon flag-icon-{{item.country_id | lowercase }} "></span>{{ item.name }}</a></h3>
                </div>
                <div class="col-sm-3">
                    <h3 class="no-margin">{{item.total_disbursements  | shortcurrency :'€'}}</h3>
                </div>
                <div class="col-sm-2">
                    <h3 class="no-margin">{{item.activity_count}} projecten</h3>
                </div>
            </div>
        </div>
    </div>
</div> -->