<div class="row cirkle-vis" ng-hide="vm.currentPage === 'search'">
    <div class="col-xs-12">
        <div class="panel lightblue clearfix no-padding-top no-margin-bottom">
            <div class="row">
                <div class="col-sm-3 col-sm-offset-3 chart">
                    <oipa-pie-chart 
                        group-by="recipient_country" 
                        aggregation-key="activity_count" 
                        aggregations="activity_count,incoming_fund"
                        aggregation-filters="vm.filterSelection"></oipa-pie-chart>
                    <h4>Project distribution</h4>
                </div>
                <div class="col-sm-3 chart">
                    <oipa-pie-chart 
                        group-by="recipient_country" 
                        aggregation-key="incoming_fund" 
                        aggregations="activity_count,incoming_fund"
                        aggregation-filters="vm.filterSelection"></oipa-pie-chart>
                    <h4>Budget distribution</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="list-view-wrapper">
     <div class="row">
        <div class="col-md-12">
            <div class="sort">
                <span class="sort-by">Sort by: </span>
                    <div class="custom-select ff-hack">
                        <select
                          ng-model="vm.order_by"
                          ng-change="vm.toggleOrder()">
                          <option value="recipient_country">Name (A - Z)</option>
                          <option value="-recipient_country">Name (Z - A)</option>
                          <option value="incoming_fund">Budget (increasing)</option>
                          <option value="-incoming_fund">Budget (decreasing)</option>
                        </select>
                    </div>
                <span class="results">Results: <span class="total">{{vm.totalCountries}}</span></span>
                <span class="download-list">
                  <a ng-click="vm.download('json')"><i class="fa fa-download"></i>JSON</a>
                  &nbsp;&nbsp;&nbsp;
                  <a ng-click="vm.download('csv')"><i class="fa fa-download"></i>CSV</a>
                </span>
            </div>
        </div>
    </div>

    <div ng-if='vm.totalCountries == 0 && vm.busy == false' class="row">
        <div class="col-sm-12">
            <div class="no-results">
                <h2>Nothing found</h2>
                <p>Please select some different filters.</p>
            </div>
        </div>
    </div>
</div>

<table infinite-scroll='vm.nextPage()' infinite-scroll-disabled='vm.busy' infinite-scroll-distance='1' class="table list-overview" ng-show="vm.countries.length">
    <thead>
        <tr>
            <th>Country</th>
            <th>Number of projects</th>
            <!-- <th>Number of programmes</th> -->
            <th>Total budget</th>
        </tr>
    </thead>
    <tbody>
        <tr
            ng-repeat="item in vm.countries">
            <td><a ui-sref="country({ country_id: item.recipient_country.code, tab: 'summary' })"><span class="flag-icon flag-icon-{{item.recipient_country.code | lowercase }} "></span>{{ item.recipient_country.name }}</a></td>
            <td>{{item.activity_count}} projects</td>
            <!-- <td>xx programmes</td> -->
            <td>{{item.incoming_fund | shortcurrency :'€'}}</td>
        </tr>
    </tbody>
</table>

<div ng-if='vm.busy == true' class="col-sm-12">
    <div class="hp-block wit">
        <h3 class="loader"><img ng-src="{{vm.templateBaseUrl}}/images/spinning-circles.svg" width="25"> Fetching results, please wait...</h3>
    </div>
</div>
