<div id="main-content" >

    <filter-bar 
        views="[]"
        current-page="themas"></filter-bar>

    <div class="container extra">
        
        <div class="white no-margin-bottom">
            <span class="flag-icon flag-icon-{{vm.country.code | lowercase }} big"></span><h1 class="title no-margin-bottom">{{vm.country.name}}</h1>
        </div>

        <hr class="darkblue no-margin-bottom">

        <sub-navbar 
            tabs='vm.tabs' 
            selected-tab='vm.selectedTab'>
        </sub-navbar>

    </div>

    <div class="content-offset" ng-show="vm.selectedTab == 'samenvatting'">

        <div class="container extra detailview">

            <div class="row">
                <div class="col-md-8">
                    <div class="featured-image">
                        <img src="{{vm.templateBaseUrl}}/images/Develop2Build header.jpg">
                    </div>
                    <div class="white no-margin-bottom no-padding-bottom">
                        <h2>Related project map</h2>
                    </div>
                    <div class="map country">
                        <locations-geo-map exact-location="vm.country" map-height="350px"></locations-geo-map>
                    </div>
                    <div class="white no-margin-bottom no-padding-bottom">
                        <h2>Financial</h2>
                    </div>
                    <div class="panel lightblue with-table no-header">
                        <table class="no-format">
                            <tbody>
                                <tr>
                                    <td width="200">
                                        Total county expenditure
                                    </td>
                                    <td>
                                        {{vm.disbursements | shortcurrency :'€'}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Total county budget
                                    </td>
                                    <td>
                                        {{vm.budget | shortcurrency :'€'}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Budget depletion
                                    </td>
                                    <td>
                                        <div class="progress">
                                          <div class="progress-bar" role="progressbar" aria-valuenow="vm.budgetLeft" aria-valuemin="0" aria-valuemax="100" ng-style="vm.progressStyle">
                                            {{vm.budgetLeft}}% spent
                                            <div class="gradient"></div>
                                          </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
<!--                     <div class="graph">
                        <financials-line-chart has-to-contain="countries__in"></financials-line-chart>
                    </div> -->
                </div>
                <div class="col-md-4">
                    <div class="panel lightblue with-pie">
                        <h3>Projects per sector</h3>
                        <hr>
                        <oipa-pie-chart group-by="sector" aggregation-key="count"></oipa-pie-chart>
                        <h3>Projects per programme</h3>
                        <hr>
                        <oipa-pie-chart group-by="programme" aggregation-key="count"></oipa-pie-chart>
                    </div>
                     <div class="panel lightblue">
                        <h3>More information</h3>
                        <hr>
                        <p><a ng-href="{{vm.countryPageUrl}}" target="_blank"><i class="icon link"></i>Visit country site on RVO.nl</a>
                    </div>
                    <div class="panel lightblue">
                        <h3>Related videos</h3>
                        <hr>
                        <p>Not yet available</p>
                       <!--  <div class="video">
                            <iframe width="581" height="215" src="https://www.youtube.com/embed/Ygng2822jMQ" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="video">
                            <iframe width="581" height="215" src="https://www.youtube.com/embed/Ygng2822jMQ" frameborder="0" allowfullscreen></iframe>
                        </div> -->
                    </div>
                    <div class="panel lightblue">
                        <h3>Related documents</h3>
                        <hr>
                            <p ng-show="vm.activity.documents.length == 0">
                                No documents available
                            </p>
                            <p ng-repeat="document in vm.activity.documents">
                                <a target="_blank" href="{{document.url}}">
                                    <i class="glyphicon glyphicon-download-alt"></i>{{document.title}}
                                </a>
                            </p>
                    </div>
                    <div class="panel lightblue with-table share">
                        <h3>Export & share</h3>
                        <hr>
                        <table class="no-format">
                            <tr>
                                <td width="130">Download:</td>
                                <td><a ng-click="vm.download('json')"><i class="fa fa-download"></i>JSON</a></td>
                            </tr>
                            <tr>
                                <td>Share:</td>
                                <td>
                                    <a target="_blank" ng-href="http://twitter.com/home?status={{vm.shareDescription}}"><i class="fa fa-twitter-square"></i></a>
                                    <a target="_blank" ng-href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]={{vm.pageUrl}}"><i class="fa fa-facebook-square"></i></a>
                                    <a target="_blank" ng-href="http://www.linkedin.com/shareArticle?mini=true&url={{vm.pageUrl}}&title={{vm.shareDescription}}"><i class="fa fa-linkedin-square"></i></a>
                                    <a href=""><i class="fa fa-envelope-square"></i></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel lightblue">
                        <h3>Embed code</h3>
                        <hr>
                        <p>Copy and paste on your site</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="vm.selectedTab == 'activities'">
        <div class="container extra detailview">
            <div class="row">
                <div class="col-md-12">

                    <activity-list 
                        has-to-contain="recipient_country" 
                        count="vm.tabs[1].count"
                        shown="vm.selectedTab == 'activities'"></activity-list>

                </div>
            </div>
        </div>
    </div>

    <div ng-show="vm.selectedTab == 'sectors'">
        <div class="container extra detailview">
            <div class="row">
                <div class="col-md-12">

                    <sector-list 
                        has-to-contain="recipient_country" 
                        count="vm.tabs[2].count"
                        shown="vm.selectedTab == 'sectors'"></sector-list>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="vm.selectedTab == 'implementing-organisations'">
        <div class="container extra detailview">
            <div class="row">
                <div class="col-md-12">

                    <implementing-organisations-list 
                        has-to-contain="recipient_country"
                        count="vm.tabs[3].count"
                        shown="vm.selectedTab == 'implementing-organisations'"></implementing-organisations-list>
                </div>
            </div>
        </div>
    </div>
</div>