<div id="main-content" ng-if="!vm.country && !vm.loading">

    <div class="container extra">

        <div class="white no-margin-bottom">
            <h1>Not found</h1>
        </div>

        <h4>Please contact the administrators if you feel this page is shown in error.</h4>
    </div>

</div>

<div id="main-content" ng-if="vm.country">

    <filter-bar 
        views="[]"
        current-page="themas"></filter-bar>

    <div class="container extra">
        
        <div class="white no-margin-bottom">
            <span class="flag-icon flag-icon-{{vm.country.code | lowercase }} big"></span><h1 class="title no-margin-bottom">{{vm.country.name}}</h1>
        </div>

        <hr class="darkblue no-margin-bottom">

        <sub-navbar 
            tabs='vm.tabs' 
            selected-tab='vm.selectedTab'>
        </sub-navbar>

    </div>

    <div class="content-offset" ng-show="vm.selectedTab == 'samenvatting'">

        <div class="container extra detailview">

            <div class="row">
                <div class="col-md-8">
                    <div class="featured-image">
                        <img ng-src="{{vm.uploadBaseUrl}}/{{vm.country_id}}-745x300.jpg">
                    </div>
                    <div class="white no-margin-bottom no-padding-bottom">
                        <h2>Related project map</h2>
                    </div>
                    <div class="map country">
                        <locations-geo-map map-height="350px" country="vm.country_id"></locations-geo-map>
                    </div>
                    <div class="white no-margin-bottom no-padding-bottom">
                        <h2>Financial</h2>
                    </div>
                    <div class="panel lightblue with-table no-header">
                        <table class="no-format">
                            <tbody>
                                <tr>
                                    <td width="200">
                                        Total country budget
                                    </td>
                                    <td>
                                        {{vm.budget | shortcurrency :'€'}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Total country expenditure
                                    </td>
                                    <td>
                                        <span ng-if="vm.disbursements">{{vm.disbursements | shortcurrency :'€'}}</span>
                                        <span ng-if="!vm.disbursements">Data to be added</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Budget depletion
                                    </td>
                                    <td>
                                        <div class="progress">
                                          <div class="progress-bar" role="progressbar" aria-valuenow="vm.budgetLeft" aria-valuemin="0" aria-valuemax="100" ng-style="vm.progressStyle">
                                                <span class="spent">{{vm.budgetLeft}}% spent</span>
                                            <div class="gradient"></div>
                                          </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
<!--                     <div class="graph">
                        <financials-line-chart has-to-contain="countries__in"></financials-line-chart>
                    </div> -->
                </div>
                <div class="col-md-4">
                    <div class="panel lightblue with-pie">
                        <h3>Projects per programme</h3>
                        <hr>
                        <oipa-pie-chart group-by="related_activity" aggregation-key="count" aggregations="count,incoming_fund"></oipa-pie-chart> 
                        <h3>Projects per sector</h3>
                        <hr>
                        <oipa-pie-chart group-by="sector" aggregation-key="count" aggregations="count,sector_percentage_weighted_incoming_fund"></oipa-pie-chart>    
                    </div>
                     <div class="panel lightblue">
                        <h3>More information</h3>
                        <hr>
                        <p><a ng-href="{{vm.countryPageUrl}}" target="_blank"><i class="icon link"></i>Visit country site on RVO.nl</a>
                    </div>
                    <div class="panel lightblue with-table share">
                        <h3>Export & share</h3>
                        <hr>
                        <table class="no-format">
                            <tr>
                                <td width="130">Download:</td>
                                <td><a ng-click="vm.download('json')"><i class="fa fa-download"></i>JSON</a></td>
                            </tr>
                            <tr>
                                <td>Share:</td>
                                <td>
                                    <a target="_blank" ng-href="http://twitter.com/home?status={{vm.shareDescription}}"><i class="fa fa-twitter-square"></i></a>
                                    <a target="_blank" ng-href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]={{vm.pageUrl}}"><i class="fa fa-facebook-square"></i></a>
                                    <a target="_blank" ng-href="http://www.linkedin.com/shareArticle?mini=true&url={{vm.pageUrl}}&title={{vm.shareDescription}}"><i class="fa fa-linkedin-square"></i></a>
                                    <a href="mailto:?&subject={{vm.shareDescription}}&body={{vm.pageUrl}}"><i class="fa fa-envelope-square"></i></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="vm.selectedTab == 'programmes'">
        <div class="container extra detailview">
            <div class="row">
                <div class="col-md-12">

                    <programme-list 
                        has-to-contain="recipient_country" 
                        count="vm.tabs[1].count"
                        shown="vm.selectedTab == 'programmes'"></programme-list>

                </div>
            </div>
        </div>
    </div>

    <div ng-show="vm.selectedTab == 'activities'">
        <div class="container extra detailview">
            <div class="row">
                <div class="col-md-12">

                    <activity-list 
                        has-to-contain="recipient_country" 
                        count="vm.tabs[2].count"
                        shown="vm.selectedTab == 'activities'"></activity-list>

                </div>
            </div>
        </div>
    </div>

    <div ng-show="vm.selectedTab == 'sectors'">
        <div class="container extra detailview">
            <div class="row">
                <div class="col-md-12">

                    <sector-list 
                        has-to-contain="recipient_country" 
                        count="vm.tabs[3].count"
                        shown="vm.selectedTab == 'sectors'"></sector-list>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="vm.selectedTab == 'implementing-organisations'">
        <div class="container extra detailview">
            <div class="row">
                <div class="col-md-12">

                    <implementing-organisations-list 
                        has-to-contain="recipient_country"
                        count="vm.tabs[4].count"
                        shown="vm.selectedTab == 'implementing-organisations'"></implementing-organisations-list>
                </div>
            </div>
        </div>
    </div>
</div>
