<div class="search-box" style="position:relative;">
    <form ng-submit="vm.submit()">
	    <div class="form-group">
	        <input 
	            ng-model="vm.searchString" 
	            type="text" 
	            class="form-control" 
                ng-change="vm.search()"
	            placeholder="Search on location, projects, sector, organisatie, IATI ID, or keyword">
	        <button class="btn-search" type="submit">
	            <span class="fa fa-search"></span>
	        </button>
        </div>
    </form>

    <div ng-if="vm.showResults" class="search-suggest-box">

        <div class="header">
            <div class="row">
                <div class="col-md-9">
                    <a ui-sref='search({"search": vm.searchString, "tab": "programmes"})'>Programmes ({{vm.searchData.programmes.total}})</a>
                </div>
                <div class="col-md-3">
                    <a ui-sref='search({"search": vm.searchString, "tab": "programmes"})'>Show more</a>
                </div>
            </div>
        </div>
        <div class="results">
            <div class="row" ng-repeat="programme in vm.searchData.programmes.data">
                <div class="col-md-9">
                    <a ui-sref='programme({"programme_id": programme.id})'>{{programme.title.narratives[0].text}}</a>
                </div>
                <div class="col-md-3">
                    {{programme.id}}
                </div>
            </div>
             <div class="row" ng-show="!vm.searchData.programmes.data.length">
                <div class="col-md-9">
                    0 results
                </div>
            </div>
            <div class="row" ng-show="!vm.searchData.programmes.loaded">
                <div class="svg-loader">
                    <img ng-src="{{vm.templateBaseUrl}}/images/spinning-circles.svg" width="50" alt="">
                </div>
            </div>
        </div>
        
        <div class="header">
            <div class="row">
                <div class="col-md-9">
                    <a ui-sref='search({"search": vm.searchString, "tab": "activities"})'>Projects ({{vm.searchData.activities.total}})</a>
                </div>
                <div class="col-md-3">
                    <a ui-sref='search({"search": vm.searchString, "tab": "activities"})'>Show more</a>
                </div>
            </div>
        </div>
        <div class="results">
            <div class="row" ng-repeat="activity in vm.searchData.activities.data">
                <div class="col-md-9">
                    <a ui-sref='activiteit({"activity_id": activity.id})'>{{activity.title.narratives[0].text}}</a>
                </div>
                <div class="col-md-3">
                    {{activity.id}}
                </div>
            </div>
             <div class="row" ng-show="!vm.searchData.activities.data.length">
                <div class="col-md-9">
                    0 results
                </div>
            </div>
            <div class="row" ng-show="!vm.searchData.activities.loaded">
                <div class="svg-loader">
                    <img ng-src="{{vm.templateBaseUrl}}/images/spinning-circles.svg" width="50" alt="">
                </div>
            </div>
        </div>

        <div class="header">
            <div class="row">
                <div class="col-md-9">
                    <a ui-sref='search({"search": vm.searchString, "tab": "countries"})'>Countries ({{vm.searchData.countries.total}})</a>
                </div>
                <div class="col-md-3">
                    <a ui-sref='search({"search": vm.searchString, "tab": "countries"})'>Show more</a>
                </div>
            </div>
        </div>
        <div class="results">
            <div class="row" ng-repeat="country in vm.searchData.countries.data">
                <div class="col-md-9">
                    <a ui-sref='country({"country_id": country.recipient_country.code})'>{{country.recipient_country.name}}</a>
                </div>
                <div class="col-md-3">
                    {{country.count}} projects
                </div>
            </div>

            <div class="row" ng-show="!vm.searchData.countries.data.length">
                <div class="col-md-9">
                    0 results
                </div>
            </div>
            <div class="row" ng-show="!vm.searchData.countries.loaded">
                <div class="svg-loader">
                    <img ng-src="{{vm.templateBaseUrl}}/images/spinning-circles.svg" width="50" alt="">
                </div>
            </div>
        </div>

        <div class="header">
            <div class="row">
                <div class="col-md-9">
                    <a ui-sref='search({"search": vm.searchString, "tab": "sectors"})'>Sectors ({{vm.searchData.sectors.total}})</a>
                </div>
                <div class="col-md-3">
                    <a ui-sref='search({"search": vm.searchString, "tab": "sectors"})'>Show more</a>
                </div>
            </div>
        </div>
        <div class="results">
            <div class="row" ng-repeat="sector in vm.searchData.sectors.data">
                <div class="col-md-9">
                    <a ui-sref='sector({"sector_id": sector.sector.code})'>{{sector.sector.name}}</a>
                </div>
                <div class="col-md-3">
                    {{sector.count}} projects
                </div>
            </div>

            <div class="row" ng-show="!vm.searchData.sectors.data.length">
                <div class="col-md-9">
                    0 results
                </div>
            </div>
            <div class="row" ng-show="!vm.searchData.sectors.loaded">
                <div class="svg-loader">
                    <img ng-src="{{vm.templateBaseUrl}}/images/spinning-circles.svg" width="50" alt="">
                </div>
            </div>
        </div>

        <div class="header">
            <div class="row">
                <div class="col-md-9">
                    <a ui-sref='search({"search": vm.searchString, "tab": "organisations"})'>Project partners ({{vm.searchData.organisations.total}})</a>
                </div>
                <div class="col-md-3">
                    <a ui-sref='search({"search": vm.searchString, "tab": "organisations"})'>Show more</a>
                </div>
            </div>
        </div>
        <div class="results">
            <div class="row" ng-repeat="organisation in vm.searchData.organisations.data">
                <div class="col-md-9">
                    <a ui-sref='organisation({"organisation_id": organisation.receiver_organisation_id})'>{{organisation.name}}</a>
                </div>
                <div class="col-md-3">
                    {{organisation.count}} transactions
                </div>
            </div>

            <div class="row" ng-show="!vm.searchData.organisations.data.length">
                <div class="col-md-9">
                    0 results
                </div>
            </div>

            <div class="row" ng-show="!vm.searchData.organisations.loaded">
                <div class="svg-loader">
                    <img ng-src="{{vm.templateBaseUrl}}/images/spinning-circles.svg" width="50" alt="">
                </div>
            </div>
        </div>
    </div>
</div>