<script type="text/ng-template" id="tree">
    <div ng-if="item.children && (item.count != 0)" class="row parent collapsed">
        <div class="col-xs-6">
            <div class="wrap">
                <span class="expandme" ng-click="vm.toggleHideChildren($event)"></span>
                <a ui-sref="sector({ sector_id: item.sector_id })">
                    <span ng-if="item.name">{{ item.name }}</span>
                    <span ng-if="item.sector.name">{{ item.sector.name }}</span>
                </a>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="wrap">
                {{item.count || 0}} projects
            </div>
        </div>
        <div class="col-xs-3">
            <div class="wrap">
                {{item.incoming_fund  | shortcurrency :'€'}}
            </div>
        </div>
    </div>

    <div ng-if="!item.children && item.count" class="row">
        <div class="col-xs-6">
            <div class="wrap">
                <span class="expandme empty"></span>
                <a ui-sref="sector({ sector_id: item.sector.code })">
                    <span ng-if="item.name">{{ item.name }}</span>
                    <span ng-if="item.sector.name">{{ item.sector.name }}</span>
                </a>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="wrap">
                {{item.count || 0}} projects
            </div>
        </div>
        <div class="col-xs-3">
            <div class="wrap">
                {{item.incoming_fund  | shortcurrency :'€'}}
            </div>
        </div>
    </div>

    <div ng-if="item.children && (item.count != 0)" class="children">
        <div collapse="vm.isCollapsed" ng-repeat="item in item.children" ng-include="'tree'"></div>
    </div>
</script>

<div class="row cirkle-vis" ng-hide="vm.currentPage === 'search'">
    <div class="col-xs-12">
        <div class="panel lightblue clearfix no-padding-top no-margin-bottom">
            <div class="row">
                <div class="col-sm-3 col-sm-offset-3 chart">
                    <oipa-pie-chart group-by="sector" aggregation-key="count" aggregations="count,sector_percentage_weighted_incoming_fund"></oipa-pie-chart>
                    <h4>Project distribution</h4>
                </div>
                <div class="col-sm-3 chart">
                    <oipa-pie-chart group-by="sector" aggregation-key="incoming_fund" aggregations="count,sector_percentage_weighted_incoming_fund"></oipa-pie-chart>
                    <h4>Budget distribution</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="list-view-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="sort">
                <span class="sort-by">Sort by: </span>
                <div class="custom-select ff-hack">
                    <select
                        ng-model="vm.order_by"
                        ng-change="vm.toggleOrder()">
                        <option value="name">Name (A - Z)</option>
                        <option value="-name">Name (Z - A)</option>
                        <option value="incoming_fund">Budget (increasing)</option>
                        <option value="-incoming_fund">Budget (decreasing)</option>
                    </select>
                </div>
                <span class="results">Results: <span class="total">{{vm.totalSectors}}</span></span>
                <span class="download-list">
                  <a ng-click="vm.download('json')"><i class="fa fa-download"></i>JSON</a>
                  &nbsp;&nbsp;&nbsp;
                  <a ng-click="vm.download('csv')"><i class="fa fa-download"></i>CSV</a>
                </span>
            </div>
        </div>
    </div>

    <div ng-if='vm.totalSectors == 0' class="row">
        <div class="col-sm-12">
            <div class="no-results">
                <h2>Nothing found</h2>
                <p>Please select some different filters.</p>
            </div>
        </div>
    </div>
</div>

<div class="fake-table" ng-show="vm.sectors.length != 0">

    <div class="row head">
        <div class="col-xs-6"><div class="wrap">Sector</div></div>
        <div class="col-xs-3"><div class="wrap">Total projects</div></div>
        <div class="col-xs-3"><div class="wrap">Total budget</div></div>
    </div>

    <div class="body" 
        ng-repeat="item in vm.sectors"
        ng-include="'tree'"
        ng-if="item.count != 0">
    </div>

</div>
