<script type="text/ng-template" id="tree">
    <div ng-if="item.children" class="row parent collapsed">
            <div class="col-xs-6">
                <div class="wrap">
                    <span class="expandme" ng-click="vm.toggleHideChildren($event)"></span><a ui-sref="sector({ sector_id: item.sector_id })">{{ item.name }}</a>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="wrap">
                    {{item.activity_count || 0}} projects
                </div>
            </div>
            <div class="col-xs-3">
                <div class="wrap">
                    {{item.total_disbursements  | shortcurrency :'€'}}
                </div>
            </div>
    </div>

    <div ng-if="!item.children" class="row">
        <div class="col-xs-6">
            <div class="wrap">
                <span class="expandme empty"></span><a ui-sref="sector({ sector_id: item.sector_id })">{{ item.name }}</a>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="wrap">
                {{item.activity_count || 0}} projects
            </div>
        </div>
        <div class="col-xs-3">
            <div class="wrap">
                {{item.total_disbursements  | shortcurrency :'€'}}
            </div>
        </div>
    </div>

    <div ng-if="item.children" class="children">
        <div collapse="vm.isCollapsed" ng-repeat="item in item.children" ng-include="'tree'"></div>
    </div>    
</script>

<div class="row">
    <div class="col-sm-12">
        <div class="list front-callout">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel">
                        With XX programmes and XX projects in {{vm.totalSectors}} sectors and XX countries.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row cirkle-vis">
    <div class="col-xs-12">
        <div class="panel lightblue clearfix no-padding-top">
            <div class="row">
                <div class="col-sm-3 col-sm-offset-3">
                    <oipa-pie-chart group-by="sector" aggregation-key="count"></oipa-pie-chart>
                    <h4>Project distribution</h4>
                </div>
                <div class="col-sm-3">
                    <oipa-pie-chart group-by="sector" aggregation-key="incoming_fund"></oipa-pie-chart>
                    <h4>Budget distibution</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container list-view-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="sort">
                <span class="sort-by">Sort by: </span>
                <div class="custom-select ff-hack">
                    <select
                        ng-model="vm.order_by"
                        ng-change="vm.toggleOrder()">
                        <option value="">Sort by...</option>
                        <option value="name">Name (A - Z)</option>
                        <option value="-name">Name (Z - A)</option>
                        <option value="total_disbursements">Expenditure (increasing)</option>
                        <option value="-total_disbursements">Expenditure (decreasing)</option>
                    </select>
                </div>
                <span class="results">Results: <span class="total">{{vm.totalSectors}}</span></span>
            </div>
        </div>
    </div>

    <div ng-if='vm.totalSectors == 0' class="row">
        <div class="col-sm-12">
            <div class="extra-padding">
                <h2>Nothing found</h2>
                <p>Please select some different filters.</p>
            </div>
        </div>
    </div>
</div>

<div class="fake-table" ng-show="vm.sectors.length != 0">

        <div class="row head">
            <div class="col-xs-6"><div class="wrap">Sector</div></div>
            <div class="col-xs-3"><div class="wrap">Total projects</div></div>
            <div class="col-xs-3"><div class="wrap">Total budget</div></div>
        </div>

        <div class="body" 
            ng-repeat="item in vm.sectors"
            ng-include="'tree'">
        </div>

</div>
