<div id="main-content" >

	<filter-bar 
		views="[{'id':'sectors', 'name': 'Visualisation'}, {'id':'sector-list', 'name': 'List'}]"
		current-page="themas"></filter-bar>

    <!-- <top-navbar 
        search-value="vm.searchValue"
        submit-search="vm.submitSearch"></top-navbar>
    -->

    <div class="switch-view hidden-xs">
		<div class="panel current lightblue no-margin-bottom">
			<i class="icon globe"></i> Map & list view
		</div>
		<div class="panel xlightblue no-margin-bottom" ui-sref="sectors-vis">
			<i class="icon presentation"></i> Visualisation
		</div>
    </div>

    <countries-geo-map map-height='350px' map-legend='false' map-dropdown='false'></countries-geo-map>
    <totals-bar update-on-init='true'></totals-bar>
    <sector-list search-value="vm.sectorSearchValue"></sector-list>
</div>
