MAP HERE

<div class="row">
  <div class="col-sm-12">
    <div class="list front-callout">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel">
            With XX projects within XX sectors and XX countries.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row cirkle-vis">
  <div class="col-sm-6">
    <oipa-pie-chart group-by="activity_status" aggregation-key="count"></oipa-pie-chart>
    <h3>Project distribution</h3>
    <oipa-pie-chart group-by="recipient_country" aggregation-key="count" top-level="true"></oipa-pie-chart>
  </div>
  <div class="col-sm-6">
    <oipa-pie-chart group-by="activity_status" aggregation-key="count"></oipa-pie-chart>
    <h3>Budget distibution</h3>
    <oipa-pie-chart group-by="recipient_country" aggregation-key="count" top-level="true"></oipa-pie-chart>
  </div>
</div>

<hr class="darkblue">

<div class="container list-view-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="sort">
                <span class="sort-by">Sort by: </span>
                <div class="custom-select ff-hack">
                    <select
                        ng-model="vm.order_by"
                        ng-change="vm.toggleOrder()">
                        <option value="">Sort by...</option>
                        <option value="name">Name (A - Z)</option>
                        <option value="-name">Name (Z - A)</option>
                    </select>
                </div>
                <span class="results">Results: <span class="total">{{vm.totalOrganisations}}</span></span>
            </div>
        </div>
    </div>

    <div ng-if='vm.totalOrganisations == 0' class="row">
        <div class="col-sm-12">
            <div class="extra-padding">
                <h2>Nothing found</h2>
                <p>Please select some different filters.</p>
            </div>
        </div>
    </div>
</div>

<table infinite-scroll='vm.nextPage()' infinite-scroll-disabled='vm.busy' infinite-scroll-distance='1' class="table list-overview">
    <thead>
        <tr>
            <th>Organisation</th>
            <th>Number of projects</th>
            <th>Number of programmes</th>
            <th>Organisation type</th>
        </tr>
    </thead>
    <tbody>
        <tr
            ng-show="vm.organisations.length != 0"
            ng-repeat="item in vm.organisations">
            <td><a ui-sref="organisation({ organisation_id: item.name })">{{ item.name }}</a></td>
            <td>{{item.count}}</td>
            <td></td>
            <td>TO DO: Gov/non-gov</td>
        </tr>
    </tbody>
</table>