<div id="main-content">

    <filter-bar 
        views="[]"
        current-page="themas"></filter-bar>

    <div class="container extra">
        <sub-navbar 
            tabs='vm.tabs' 
            selected-tab='vm.selectedTab'>
        </sub-navbar>
    </div>

    <div class="content-offset" ng-show="vm.selectedTab == 'samenvatting'">

        <div class="container extra">

            <div class="row">
                <div class="col-md-8">
                    <div class="panel blue no-margin-bottom">
                        <h1 class="no-margin-bottom"><i class="icon presentation"></i> {{vm.organisation.name}}</h1>
                    </div>
                    <div class="panel white no-margin-bottom no-padding-bottom">
                        <h2><i class="icon euro"></i>Financial</h2>
                    </div>
                    <table class="finance">
                        <thead>
                            <tr>
                                <th>Transaction type</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Total programme expenditure
                                </td>
                                <td>
                                    {{budget.budget__value | shortcurrency :'€'}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Total programme budget
                                </td>
                                <td>
                                    {{budget.budget__value | shortcurrency :'€'}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="graph">
                        <financials-line-chart 
                            has-to-contain="participating_organisations__organisation__code__in">
                        </financials-line-chart>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel lightblue share">
                        <h3>Export & share</h3>
                        <hr>
                        <p class="no-margin-bottom">Download the project data</p>
                        <p>
                            <a ng-click="vm.download('json')"><i class="icon download"></i>JSON</a>
                        </p>
                        <p class="no-margin-bottom">Share this project</p>
                        <p class="two-columns">
                            <a target="_blank" ng-href="http://twitter.com/home?status={{vm.shareDescription}}"><i class="icon twitter"></i>Twitter</a>
                            <a target="_blank" ng-href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]={{vm.pageUrl}}"><i class="icon facebook"></i>Facebook</a>
                            <a target="_blank" ng-href="http://www.linkedin.com/shareArticle?mini=true&url={{vm.pageUrl}}&title={{vm.shareDescription}}"><i class="icon linkedin"></i>LinkedIn</a>
                            <a href=""><i class="icon email"></i>Email</a>
                        </p>
                    </div>
                    <div class="panel lightblue">
                        <h3>Related videos</h3>
                        <hr>
                        <div class="video">
                            <iframe width="581" height="215" src="https://www.youtube.com/embed/Ygng2822jMQ" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="video">
                            <iframe width="581" height="215" src="https://www.youtube.com/embed/Ygng2822jMQ" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="panel lightblue">
                        <h3>Related documents</h3>
                        <hr>
                            <p ng-show="vm.activity.documents.length == 0">
                                No documents available.
                            </p>
                            <p ng-repeat="document in vm.activity.documents">
                                <a target="_blank" href="{{document.url}}">
                                    <i class="glyphicon glyphicon-download-alt"></i>{{document.title}}
                                </a>
                            </p>
                    </div>
                    <div class="panel lightblue">
                        <h3>Embed code</h3>
                        <hr>
                        <p>Copy and paste on your site</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="vm.selectedTab == 'activities'">
        <activity-list 
            has-to-contain='participating_organisations__organisation__code__in' 
            count='vm.tabs[1].count'
            shown="vm.selectedTab == 'activities'"></activity-list>
    </div>

    <div ng-show="vm.selectedTab == 'sectors'">
        <sector-list 
            has-to-contain='participating_organisations__organisation__code__in' 
            count='vm.tabs[2].count'
            shown="vm.selectedTab == 'sectors'"></sector-list>
    </div>

    <div ng-show="vm.selectedTab == 'countries'">
        <country-list 
            has-to-contain='participating_organisations__organisation__code__in' 
            count='vm.tabs[3].count'
            shown="vm.selectedTab == 'countries'"></country-list>
    </div>
    <div ng-show="vm.selectedTab == 'regions'">
        <region-list 
            has-to-contain='participating_organisations__organisation__code__in' 
            count='vm.tabs[4].count'
            shown="vm.selectedTab == 'regions'"></region-list>
    </div>


</div>


