<div class="list-view-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="sort">
                <span class="sort-by">Sort by: </span>
                <div class="custom-select ff-hack">
                    <select
                        ng-model="vm.order_by"
                        ng-change="vm.toggleOrder()">
                        <option value="">Sort by...</option>
                        <option value="name">Name (A - Z)</option>
                        <option value="-name">Name (Z - A)</option>
                        <option value="count">Project count (ascending)</option>
                        <option value="-count">Project count (descending)</option>
                    </select>
                </div>
                <span class="results">Results: <span class="total">{{vm.totalOrganisations}}</span></span>
                <span class="download-list">
                  <a ng-click="vm.download('json')"><i class="fa fa-download"></i>JSON</a>
                  &nbsp;&nbsp;&nbsp;
                  <a ng-click="vm.download('csv')"><i class="fa fa-download"></i>CSV</a>
                </span>
            </div>
        </div>
    </div>

    <div ng-if='vm.totalOrganisations == 0' class="row">
        <div class="col-sm-12">
            <div class="no-results">
                <h2>Nothing found</h2>
                <p>Please select some different filters.</p>
            </div>
        </div>
    </div>
</div>

<table infinite-scroll='vm.nextPage()' infinite-scroll-disabled='vm.busy' infinite-scroll-distance='1' class="table list-overview" ng-show="vm.organisations.length != 0">
    <thead>
        <tr>
            <th>Project partners</th>
            <th>Number of projects</th>
        </tr>
    </thead>
    <tbody>
        <tr
            ng-if="item.name != ''" ng-repeat="item in vm.organisations">
            <td><a ui-sref="organisation({ organisation_id:item.name, tab: 'summary' })">{{ item.name }}<span ng-if="item.name == ''">Unknown</span></a></td>
            <td>{{item.count}} projects</td>
        </tr>
    </tbody>
</table>