<div class="row home-header">
  <div class="col-md-8 pic">
    <div class="panel">
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel transparent">
      <h1>Data reported to the IATI registry since January 2015</h1>
      <p>Find open data on development aid projects and programs executed by the Netherlands Enterprise Agency  and funded by the Dutch Ministry of Foreign Affairs.</p>
    </div>
  </div>
  <div class="col-md-4 col-md-offset-4">
    <div class="panel right">
      <h1>About this portal</h1>
      <p><a href="mailto:iati@rvo.nl"><i class="fa fa-envelope"></i>iati@rvo.nl</a></p>
      <p><a href="https://twitter.com/AiddataRVO" target="_blank"><i class="icon twitter"></i>@AiddataRVO</a></p>
      <p><a href="http://www.rvo.nl/sites/default/files/rvo_website_content/opendata/IATI.xml"><i class="icon download"></i>Netherlands Enterprise Agency IATI activity file</a></p>
      <p class="margin-top-2">IATI dataset last updated: 7-12-2015</p>
      <p>This portal has been optimised for use with Mozilla Firefox.</p>
</p>
    </div>
  </div>
</div>

<div class="container homepage-blocks">
  <div class="row">
    <div class="col-sm-3">
      <div class="panel">
        <h3><a ui-sref="programmes" class="icon handshake">Programmes</span></a></h3>  
        <p>Get a detailed overview of programmes.</p> 
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel">
        <h3><a ui-sref="activities" class="icon lightbulb">Projects</span></a></h3>  
        <p>Get a detailed overview of projects.</p>  
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel">
        <h3><a ui-sref="locations-map" class="icon globe">Countries</span></a></h3>  
        <p>See which countries we work in.</p> 
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel">
        <h3><a ui-sref="sectors" class="icon medal">Sectors</span></a></h3>  
        <p>See which sectors we work in.</p> 
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-sm-12 map">
        <div class="geomap-mask">  
            <countries-geo-map map-height='400px'></countries-geo-map>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class=" front-callout">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel">
            Insight into {{vm.activityCount}} development aid projects committed by the Netherlands Enterprise Agency, in {{vm.countryCount}} countries, with a total budget of {{vm.budget | shortcurrency :'€'}}. Projects either active on or started after January 2015.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row visualize">
      <div class="col-sm-4 text-center">
        <oipa-pie-chart group-by="related_activity" aggregation-key="incoming_fund" aggregations="count,incoming_fund"></oipa-pie-chart>
        <h4>Budget per programme</h4>
      </div>
      <div class="col-sm-4 text-center">
        <oipa-pie-chart group-by="recipient_country" aggregation-key="incoming_fund" aggregations="count,incoming_fund"></oipa-pie-chart>
        <h4>Budget per country</h4>
      </div>
      <div class="col-sm-4 text-center">
        <oipa-pie-chart group-by="sector" aggregation-key="incoming_fund" aggregations="count,incoming_fund"></oipa-pie-chart>
        <h4>Budget per sector</h4>
      </div>
  </div>
</div>