<header role="banner" ng-controller="NavbarController as vm">

    <div class="row logo">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <a ui-sref="home" title="Home" rel="home">
          <img src="{{templateBaseUrl}}/images/logo-nl-highres.png" />
        </a>
      </div>
    </div>

    <nav id="primary-navigation" role="navigation">
        <ul id="main-menu-links" class="inline main-menu">
          <li 
            class="home first" 
            ng-class="{'active': vm.stateName == 'home'}" 
            ui-sref-active="active">
            <a ng-class="{'active': vm.stateName == 'home'}" ui-sref="home">Home</a></li>
        <li  
          ng-class="{'active': vm.stateName == 'programmes'}">
          <a ng-class="{'active': vm.stateName == 'programmes'}"  ui-sref="programmes">Programmes</a></li>
        <li  
          ng-class="{'active': vm.stateName == 'activities'}">
          <a ng-class="{'active': vm.stateName == 'activities'}"  ui-sref="activities">Projects</a></li>
        <li 
          ng-class="{'active': vm.stateName == 'locations'}">
          <a ng-class="{'active': vm.stateName == 'locations'}"  ui-sref="locations-map">Countries</a></li>
        <li 
          ng-class="{'active': vm.stateName == 'sectors'}"><a ng-class="{'active': vm.stateName == 'sectors'}"  ui-sref="sectors">Sectors</a></li>
        <li 
          ng-class="{'active': vm.stateName == 'organisations'}"><a ng-class="{'active': vm.stateName == 'organisations'}"  ui-sref="organisations">Project partners</a></li>

        <li 
          ng-class="{'active': vm.stateName == 'search'}"><a ng-class="{'active': vm.stateName == 'search'}"  ui-sref="search">Search</a></li>

        <li 
          ng-class="{'active': vm.stateName == 'about'}"><a ng-class="{'active': vm.stateName == 'about'}"  ui-sref="about">About RVO data</a></li>

          
</nav><!-- /.branding -->

          
        
  </header>

