/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

// .legend {
// 	float: none;
// 	width: auto;
// 	text-align: left;
// 	position: absolute;
// 	left:15px;
// 	top:15px;
// 	background:none;
// 	padding:0;
// 	.check {
// 		float: none;
// 		display: block;
// 		margin-bottom: 10px;
// 	}
// }

#primary-navigation {
  padding: 17px 0 0;
  .navbar-header, .navbar-collapse {
    margin-left:0;
    margin-right: 0;
  }
}

//navbar alignment, want menu wat breed
.navbar-header {
  margin:0 auto;
}

.navbar-collapse {
  padding:0;
}

.filters-fixed {
	&.fixed {
		top:0;
	}
  //.container {
  //  width: 940px;
 // }
}

.container {
    width: 945px;
}

/*#rvo-main {
  padding-top:60px;
}*/

.homepage-blocks {
  .col-md-3 {
    flex: 1;
    display: flex;
  }
  .row {
    display: flex;
  }
}

.home-header {
	.pic {
   		display: flex;
   	}
}

.results {
  .home-header .panel.transparent {
    margin-right: -30px;
  }
  .flex {
      display: flex;
      flex:1;
  }
}