/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

.zeroopacity{
  opacity: 0;
}

#rvo-main{
  min-height: 800px;
}


/****
TEMP
****/
.nv-multiBarHorizontalChart{

  .nv-bar {
    fill: rgb(31,119,180) !important;
    stroke: rgb(31,119,180) !important;
  }
  
  .nv-legend-symbol{
      display: none;
  }
}

.results rect.nv-bars {
  width: 20px;
}

.glyphicon-info-sign{
  display: none !important;
}

oipa-table-chart .table tbody tr td.colour {
  display: none;
}

#project-list-results{
  &.table.list-overview th{
    font-size:18px;
  }

  &.table.list-overview td{
    font-size: 16px;
  }
}

/*********************
GLOBAL EN HELPERS
*********************/
html {
  background: $rvo-xlichtblauw;
}

body{
  background-color: $rvo-xlichtblauw;
  font-family: $sans-serif;
  font-size:14px;
  color:$rvo-zwart;
}

.page-wrap {
  background:$white;
  box-shadow: #bec6cc 0px 0px 8px;
  padding:0;
}

h1,h2,h3,h4,h5,h6 {
  color: $rvo-donkerblauw;
  font-family: $heading;
  font-weight: 400;
}

h1{
  font-size: 2.1em;
}

.detailview h1{
  font-weight: bold;
}

a {
  color:$rvo-blauw;
  transition: all .2s ease-in-out;
  &:hover {
    color:$rvo-donkerblauw;
    text-decoration: none;
  }
}

hr{
  border-top: 1px solid #fff;
  margin:10px -15px;
}

.rel {
  position: relative;
}

tr {
  td {
    line-height: 16px;
  }
}

.svg-loader{
  text-align: center;
  margin: 70px 0 60px;
}

.main-placeholder{
  margin: 20px 0 40px; 
  padding: 100px 40px; 
  border: 1px dotted #444;
  text-align: center;
  font-size: 22px;
}

#main-grouped-page-wrapper{
  margin-bottom: 40px;
}

.no-padding-left{
  padding-left: 0;
}

.no-padding-right{
  padding-right: 0;
}

.no-padding {
  padding:0;
}
.no-top {
  margin-top: 0;
}
.no-padding-bottom {
  padding-bottom:0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-padding-top {
  padding-top:0 !important;
}

.fa-ul {
  margin-left:1.8em;
}

.title {
  display: inline-block;
}

.btn-default{
  border: 0;
  color:$white;
}

.no-margin {
  margin-bottom:0 !important;
}

.loader{
  margin: 40px 0;
  text-align: center;
}

#toTop {
  display: none;
  position: fixed;
  bottom: 10px;
  z-index: 99;
  cursor: pointer;
  right: 10px;
  opacity: .8;
}

/*********************
Subnavbar tabs
*********************/
.subnav {
  text-transform: uppercase;
  padding-top:10px;
  font-size:16px;
  font-weight: 700;
  padding-bottom:10px;
  ul {
    margin:0;
    li {
      list-style: none;
      display: inline-block;
      margin-right: 25px;
      a {
        text-decoration: none;
        color:#114476;
        cursor: pointer;
        color:$rvo-blauw;
        transition: all .2s ease-in-out;
      }
      &.active, &:hover {
        a {
          color: $rvo-groen;
        }
      }
      &:last-of-type {
        margin-right:0;
      }
    }
  }
  a {
    &:before {
      margin-right: 3px !important;
    }
  }
  .summary, .samenvatting {
    a {
      @extend .icon.presentation;
      @extend .icon;
    }
  }
  .detailedreport {
    a {
      @extend .icon.graph;
      @extend .icon;
    }
  }
  .activities {
    a {
      @extend .icon.lightbulb;
      @extend .icon;
    }
  } 
  .mediapage {
    a {
      @extend .icon.film;
      @extend .icon;
    }
  }    
  .sectors {
    a {
      @extend .icon.medal;
      @extend .icon;
    }
  } 
  .regions {
    a {
      @extend .icon.pin;
      @extend .icon;
    }
  } 
  .countries {
    a {
      @extend .icon.globe;
      @extend .icon;
    }
  } 
  .programmes {
    a {
      @extend .icon.handshake;
      @extend .icon;
    }
  } 
  .implementing-organisations, .organisations {
    a {
      @extend .icon.buildings;
      @extend .icon;
    }
  }            
  .results {
    a {
      @extend .icon.check;
      @extend .icon;
    }
  }

}

/*********************
SEARCH
*********************/

.search-box {
  margin-top: 15px;

  .search-wrap {
    border: 0;
    height: 24px;
    width: 310px;
    background: #fff;
    position: relative;
  }
  .btn{
    padding: 2px 9px 0px;
    line-height: 18px;
    border: 0;
    width: auto;
    background: none;
  }
  .glyphicon-search{
    font-size: 1.3em;
    color: #ccc;
  }
  float: none;
  margin-bottom: 15px;
  position:relative;
  form {
    height: 34px;
  }
  input {
    height: 34px;
    padding:0 12px;
    line-height: 34px;
    background:#fff;
    display: inline-block;
    border-radius:0;
    width: 100%;
    border-top-right-radius:17px;
    border-bottom-right-radius:17px;
    border:1px solid #ccc;
    font-size:14px;
  }
  .btn-search {
    background:$rvo-lichtblauw;
    color: #fff;
    margin:0;
    border-radius:17px;
    width: 34px;
    height: 34px;
    border:0;
    line-height: 34px;
    padding:0;
    display: inline-block;
    position:absolute;
    right: 0;
    top:0;
    transition: all .2s ease-in-out;
    &:hover {
      background:$rvo-blauw;
    }
    .icon:before {
      color: #fff;
      font-size:22px;
      margin-right: 0;
      line-height: 34px;
    }
  }
}

.activity {
  .search-box {
    margin-bottom: 15px;
  }

  .detail-flag{
    margin-right: 4px;
  }
}

.filter-panel-header-wrapper {
  .search-box {
    width: 100%;
  }
}

#filter-panel-background {
  position: fixed;
  left: 0; 
  top:0; 
  width: 100%; 
  height: 100%;
  z-index: 99;
}

/*********************
FILTERS
*********************/
.filters-fixed {
  color:$rvo-blauw;
  top:0;
  transition:top .2s;
  .filter-selected {
    margin-bottom: 0;
  }
  .filter-selected-button {
    cursor: pointer;
  }
  .filter-main-name {
    text-transform: uppercase;
    font-size: 14px;
    margin-right: 10px;
    font-weight: 700;
  }
  .filter-pop {
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    margin-right: 10px;
    display: inline-block;
    &:before {
      font-family: 'FontAwesome';
      margin-right: 2px;
      content:'\f0fe';
      color:$rvo-groen;
      transition: all .4s ease-in-out;
    }
    &.reset {
      &:before {
        font-family: 'AGNL-Icon-Font';
        content:'\e605';
        color:darken(red,10%);
        font-size: 14px;
        display: block;
        float: left;
      }
      &:hover {
        &:before {
          color:darken(red,1%);
        }
      }
    }
    &.active {
      &:before {
        color:$rvo-blauw;
        transform:rotate(180deg);
        content:'\f146';
      }
      &:after {
        opacity: 1;
      }
    }
    &:hover {
      &:before {
        color:$rvo-blauw;
      }
    }
  }
  .container-fixed { 
    padding-left:15px;
    padding-right:15px;
    @media (min-width: 768px) {
      padding-left:30px;
      padding-right:30px;
    }
  }
  .filters-fixed-header{
    display: none;
  }
  .actions {
    margin-top: 7px;
    margin-bottom: 4px;
  }
  &.fixed {
    top:0;
    position:fixed;
    z-index:999;
    width: 100%;
    left:0;
    padding-top:0;
    transition:top .2s;
    background:rgba(255, 255, 255, 0.85);
    // .bg-wrap {
    //   background:rgba(255, 255, 255, 0.85);
    // }   
    #tool-bar {
      margin-bottom: 0;
      background:transparent;
      color:#fff;
    }
    .filters-fixed-header{
      display: block;
      background-color: #fff;
    }
    .filter-selected,.filter-panel {
      background:rgba($rvo-blauw,.8);
    }
    .filter-panel {
      padding:15px;
    }
    .container-fixed, .filter-container-fixed {
      @extend .container;
      margin:0 auto;
      @media (max-width: 767px) {
        padding-left:15px;
      }
      @media (min-width: 768px) {
        padding-left:30px;
      }
    }
    .filter-container-fixed {
      @media (max-width: 767px) {
        padding-left:0;
      }
    }
  }
}

.results {
  .filters-fixed { 
    .container-fixed { 
      padding-left:0;
      padding-right:0;
    }
    .filter-panel {
      margin-left:-30px;
      margin-right:-30px;
      padding-left:30px;
      padding-right:30px;
      right:0;
      width: auto;
    }
    .filter-selected {
      margin-left: -30px;
      margin-right: -30px;
    }
    &.fixed {
      .filter-panel {
        @media (max-width: 767px) {
          margin-left:-15px;
          margin-right:-15px;
        }
      }
      .container-fixed {
        @media (max-width: 767px) {
          padding-left:15px;
        }
        @media (min-width: 768px) {
          padding-left:30px;
        }
      }
    }
  }
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid $rvo-blauw;
  position:absolute;
  bottom:-8px;
  left:50%;
  margin-left: -4px;
}

.filter-panel {
  z-index: 999;
  background-color: $rvo-blauw;
  position: absolute;
  width: 100%;
  left:0;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.4);
  font-size:13px;
  color:$white;
  padding:15px 30px;
  .extra-padding {
    padding-top:15px;
  }
  .search-box {
    padding-left:0;
    margin-top: 0;
    margin-bottom: 0;
  }
  &.budget {
    .checkbox {
      margin-top:0;
    }
    .switch {
      padding-left: 0;
    }
    label {
      span {
        font-size: 1.4em;
      }
    }
  }
  .btn-save {
    background: lighten($rvo-blauw,5%);
    float: left;
    font-size:16px;
    padding: 6px 12px;
    transition:all .2s ease-in-out;
    &:hover {
      background:$rvo-donkerblauw;
    }
  }
  .table {
    .checkbox {
      margin: 0;
      margin-left:-15px;
    }
  }
  .custom-select {
    select {
      color:$rvo-zwart;
      padding-top:2px;
      padding-bottom:2px;
    }
  }
  .svg-loader {
    margin:20px 0 20px;
  }
}

.filter-panel-wrap {
  .ng-hide-add, .ng-hide-remove {
    display: block !important;
  }
  .slideDown.ng-animate {
    transition: all .5s ease-in-out;
    .filter-panel {
      transition: max-height .5s ease-in-out, opacity .2s ease-in-out;
      max-height: 500px;
      overflow: hidden;
      opacity: 1;
    }
  }
  .slideDown.ng-hide {
    .filter-panel {
      transition: max-height .5s ease-in-out, opacity .2s ease-in-out .3s;
      max-height:0;
      opacity: 0;
    }
  }
}

.filter-selected {
  background:$rvo-blauw;
  padding:5px 0;
  font-size: 13px;
  color:$white;
  .selected-items {
    text-transform: uppercase;
    font-weight: 700;
  }
  .selected {
    color:$white;
    margin:2px 4px;
    transition: background .2s ease-in-out;
    display: inline-block;
    background:$rvo-groen;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(0,0,0,0.075);
    border-radius:3px;
    border:1px solid darken($rvo-groen,15%);
    padding:1px 4px;
    &:before {
      font-family: 'FontAwesome';
      margin-right:2px;
      content:"\f00d";
      float: left;
    }
    &:hover {
      background:darken($rvo-groen,5%);
    }
    &:active {
      box-shadow: inset 0 3px 5px rgba(0,0,0,0.2);
    }
  }
}

/*********************
Sorteren
**********************/
.sort {
  font-size: 14px;
  color:$rvo-blauw;
  text-transform: uppercase;
  font-weight: 700;
  padding:0 30px;
  margin-top: 10px;
  .sort-item {
    margin-right: 15px;
    cursor:pointer;
  }
  .ng-binding {
    line-height: 41px;
  }
  .sort-by {
    &:before {
      font-family: 'AGNL-Icon-Font';
      content:'\002a';
      margin-right: 3px;
    }
  }
  .results {
    margin-left: 15px;
    &:before {
      font-family: 'AGNL-Icon-Font';
      content:'\221a';
      margin-right: 3px;
    }
    .total {
      color:$rvo-groen;
    }
  }
}

.download-list{
  margin-top: 10px; 
  float: right;

  a{
    cursor: pointer;

    i{
      margin-right: 3px;
    }
  }
}

.list-view-wrapper{
  .custom-select {
    margin-top:0;
    width: 200px;
    font-size: 14px;
    text-transform: uppercase;
    display: inline;
    border:0;
    &:after {
      display: none;
    }
    select {
      display: inline;
      font-weight: 400;
      padding:0;
      font-size: 14px;
      text-transform: uppercase;
      border:0;
      width: auto;
    }
  }
}

.about-page {
  .intro {
    margin-top: 16px;
    font-weight: 600;
  }
  h4 {
    margin-top: 22px;
    margin-bottom: 4px;
    font-weight: bold;
  }
}

/*********************
Switch iOS style checkbox
*********************/
.switch {
  input {
    display: none;
  }
  i {
    background-color: #e4e4e4;
    display: inline-block;
    cursor: pointer;
    padding-right: 15px;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    border-radius: 20px;
    box-shadow: inset 0 0 1px rgba(0,0,0,.8);
    margin-right: 10px;
  }
  i:before {
      display: block;
      content: '';
      width: 20px;
      height: 20px;
      border-radius: 20px;
      background: rgb(250, 250, 250);
      box-shadow: 0 1px 2px rgba(0,0,0,.8);
  }
  :checked +i:before {
      background: rgb(250, 250, 250);
  }
  :checked + i {
      padding-right: 0;
      padding-left: 15px;
      background: #fff;
      box-shadow: inset 0 0 1px #666, inset 0 0 40px #fff;
      -webkit-box-shadow: inset 0 0 1px #666, inset 0 0 40px $rvo-groen;
  }
  .ng-binding {
      margin-top: 0;
      display: block;
      float: right;
  }
}

.legend {
  .ng-binding {
    display: inline;
    float: none;
  }
}

/*********************
Pagination
*********************/
.pagination {
  margin: 0;
  ul {
    margin: 0;
  }
  .disabled a {
    &:focus,&:hover {
      background:transparent !important;
    }
    background:transparent;
    color:$white;
  }
  li {
    a {
      border: 0;
      border-radius: 3px;
      color:#fff;
      background-color: lighten($rvo-blauw,5%);
      margin-left:2px;
    }
    &.active, &:hover {
      a {
        background-color: $rvo-donkerblauw !important;
        color:#fff !important;
      }
    }
    &:first-of-type, &:last-of-type {
      a {
        background: none !important;
        font-weight: bold;
        color:$rvo-donkerblauw;
        font-family: 'FontAwesome';
        &:focus {
          color:$rvo-donkerblauw;
        }
      }
    }
    &:first-of-type {
      a:before {
        content: "\f053";
      }
    }
    &:last-of-type {
      a:before {
        content: "\f054";
      }
    }
  }
}

/*********************
Homepage
*********************/
.mobile-header {
  height: 30vw;
  margin-bottom: 0;
  img {
    width: 100%;
  }
  background-size:cover;
  background-image:url('../../images/fotohomepage2.jpg');
  background-position:center;
  a {
    outline: none;
  }
}
.logo {
  margin-bottom: 16px;
  a {
    display: block;
    outline: none;
    img {
      width: 100%;
      height: auto;
    }
  }
}
.disclaimer {
  h4,p {
    color:$white;
  }
  h4 {
    margin-bottom: 4px;
    margin-top:14px;
    font-size:16px;
  }
  p {
    font-size:12px;
  }
}
.home-header {
  position:relative;
  font-size: 16px;
  flex-wrap:wrap;  
  .left {
    .panel {
      margin-bottom: 0;
    }
  }
  .panel {
    padding:25px 30px;
    background:$rvo-xlichtblauw;
    border:0;
    border-radius:0;
    h1 {
      margin-top:0;
      font-size: 24px;
      margin-bottom: 8px;
    }
    p {
      margin-bottom: 0;
    }
    &.transparent {
      background:rgba($rvo-donkerblauw, .8);
      color:$white;
      h1 {
        color: $white;
      }
    }
  }
  .right {
    p {
      margin-bottom: 7px;
    }
    i {
      margin-right: 7px;
    }
  }
  .pic {
    flex:1;
    display: none;
    position: absolute;
    left:15px;
    height: 100%;
    padding:0;
    .panel {
      flex:1;
      background-size:cover;
      background-image:url('../../images/fotohomepage2.jpg');
      background-position:center;
      border:0;
      width: 100%;
      padding:10px 30px;
      border-radius:0;
    }
  }
}
.homepage-blocks {
  .panel {
    flex:1;
    padding:15px;
    border:1px solid $rvo-lichtblauw;
    border-radius:0;
    h3 {
      margin-top:0;
      font-size: 20px;
    }
    p {
      margin-bottom: 0;
      font-size: 14px;
    }
    a {
      color:$rvo-blauw;
      &:hover {
        color:$rvo-donkerblauw;
      }
    }
  }
  .icon:before {
    margin-top:-7px;
    float: left;
    font-size:30px;
    margin-right:7px;
  }
}
.container.extra.result-intro-text{
  background-color: $rvo-blauw;
  color: #fff;
  padding-bottom: 16px;
  font-weight: bold;

  h2{
    color: #fff;
    font-weight: bold;
  }
}

.front-callout {
  background:$rvo-blauw;
  text-align: center;
  font-weight: 700;
  &.list {
    //margin-bottom: 10px;
  }
  .panel {
    border:0;
    margin-top:0 !important;
    padding:10px 30px;
    font-size: 18px;
    color:$white;
    background:none;
    margin:0;
    &.big {
      font-size: 40px;
    }
  }
}

/*********************
Charts
*********************/
.visualize {
  padding-top:15px;
}
.visualize,.cirkle-vis {
  h4,h3 {
    margin-top: 0;
  }
  svg {
    -webkit-filter: drop-shadow( 1px 1px 2px rgba(0,0,0,.3) );
    filter: drop-shadow( 1px 1px 2px rgba(0,0,0,.3) );
  }
}
.cirkle-vis {
  .panel {
    padding-top:15px !important;
  }
  h4 {
    margin-top:-15px;
  }
}

.chart-wrap {
  position:relative;
  .svg-loader {
    position:absolute;
    margin:0;
    left:50%;
    margin-left:-25px;
    top:50%;
    margin-top:-25px;
  }
}
.checkboxes {
  .checkbox {
    float: left;
    margin: 15px 15px 15px 0;
  }
  background:rgba(#fff,.3);
  overflow:hidden;
  margin-bottom: 10px;
}

.cirkle-vis {
  text-align: center;
}

.nvd3 {
  .nv-pie {
    .nv-slice {
      path {
        fill-opacity: .6;
      }
      &.hover {
        path {
          fill-opacity: 1;
        }
      }
    }
  }
}

/*********************
Switch view tabs
*********************/
.switch-view {
  //position:absolute;
  z-index: 9;
  border-bottom:13px solid $rvo-lichtblauw;
  @extend .clearfix;
  .panel {
    //margin-top:5px;
    padding:8px 30px 3px 30px !important;
    cursor: pointer;
    float: left;
    font-weight: 700;
    &.current {
      cursor: default;
    }
    &:first-of-type {
      margin-right: 5px;
    }
    &.lightblue {
      color:$rvo-zwart;
      background:$rvo-lichtblauw;
    }
    &.xlightblue {
      transition: all .2s ease-in-out;
      color:$rvo-blauw;
      background:rgba($rvo-lichtblauw,.4);
      &:hover {
        background:$rvo-lichtblauw;
        color:$rvo-zwart;
      }
    }
  }
  .col-xs-6 {
    &:nth-of-type(1) {
      padding-right:0;
    }
    &:nth-of-type(2) {
      padding-left:0;
    }
  }
  .icon {
    float: left;
    font-size: 16px;
    margin-right: 5px;
  }
}

/*********************
Tables, listviews, detail pages
*********************/
table {
  td,th {
    vertical-align: top;
  }
}
.detailview {
  .sort {
    padding:0 15px;
  }
   .table.list-overview {
      td, th {
        padding:10px 15px;
    }
  }
  .no-results {
    padding:0;
  }
}

.mediapage {
  .images {
    img {
      width: 100%;
      border:2px solid transparent;
      transition: all .2s ease;
    }
    a {
      &:hover {
        img {
          border:2px solid $rvo-blauw;
        }
      }
    }
  }
  .item {
    margin-bottom: 15px;
  }
  .panel.lightblue {
    padding-bottom:0;
  }
  p {
    padding-bottom: 10px !important;
  }
  .finance {
    margin-bottom: 0;
  }
}

.no-results {
  padding:0 15px;
}

.show-me + .hide-me {
    display: none;
}

.table.list-overview {
  td,th {
    padding: 10px 15px;
    font-size:16px;
    border:0;
  }
  @media (min-width: 768px) {
    td:first-of-type, th:first-of-type {
      padding-left:30px;
    }
    td:last-of-type, th:last-of-type {
      padding-right:30px;
    }
  }
  th {
    font-size:18px;
  }
  .flag-icon {
    margin-right: 5px;
  }
  tbody tr {
    &:nth-of-type(2n-1) {
      background:$rvo-footerblauw;
    }
  }
  &.expandable {
    td:first-of-type, th:first-of-type {
      padding-right:0;
    }
  }
}

.expandme {
  //width: 25px;
  display: inline-block;
  cursor: pointer;
  color:$rvo-blauw;
  transition: all .3s;
  margin-right: 10px;
  &:hover {
    color:$rvo-donkerblauw;
  }
  &:before {
    font-family: FontAwesome;
    content: "\f054";
    transition:all .2s ease-in-out;
    display: inline-block;
    margin-top:3px;
  }
  &.empty {
    opacity: 0;
  }
}
.expanded {
  .expandme {
    &:before {
      transform:rotate(90deg);
    }
  }
}

.noexpand{
  padding-left: 24px;
}

.fake-table {
  font-size: 16px;
  .head {
    font-weight: 700;
    font-size: 18px;
  }
  .wrap {
    padding:10px 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .body:nth-of-type(2n) {
    background:$rvo-footerblauw;
  }
  // .children {
  //   .expandme {
  //     padding-left:20px;
  //   }
  // }
  .parent {
    + .children {
      transition:opacity .5s ease-in-out, max-height .5s ease-in-out;
      overflow: hidden;
      @extend .clearfix;
      padding-left:25px;
    }
    &.collapsed {
      + .children {
        opacity: 0;
        max-height: 0;
      }
    }
    &.expanded {
      + .children {
        opacity: 1;
        max-height:2000px;
        visibility: visible;
      }
    }
  }

}

.detailview {
   .fake-table {
      .wrap {
        padding:10px 15px;
    }
  }
}

.flag-icon {
  &.big {
    display: inline-block;
    font-size: 2.5em;
    border-radius: 4px;
    margin-right: 10px;
  }
}

.documents {
  &.table {
    tr {
      td {
        padding:3px 0;
        .glyphicon {
          margin-right: 8px;
        }
      }
    }
  }
}

.share {
  a {
    display: inline-block;
    cursor: pointer;
    //display: block;
    &:last-of-type {
      margin-right: 0;
    }
  }
  .fa {
    margin-right: 3px;
  }

}


/*********************
Search suggest box
*********************/
.search-suggest-box{
  z-index: 99999;
  position: absolute;
  top: 34px; 
  left: 0; 
  width: 100%; 
  min-height: 100px; 
  background-color: #fff;
  text-align: left;
  border:1px solid $rvo-blauw;

  .header{
    background-color: $rvo-blauw;
    color: #fff;
    padding:5px 10px;
    a{
      color: #fff;
        &:hover {
          color: $rvo-lichtblauw;
        }
    }
  }
  .results {
    padding:5px 10px;
    a {
      color:$rvo-blauw;
      text-decoration: none;
      &:hover {
        color: $rvo-donkerblauw;
      }
    }
  }
}

.leaflet-container svg{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block; 
  width: auto; 
  height: auto; 
}



/*********************
Tab geo chart vis 
*********************/
#geovis-0 .clickme, #geovis-0 .node{
  cursor: pointer;
}



/*********************
Tab bubble chart vis 
*********************/

.bubble-chart-wrapper{
  padding-top: 40px;
}

.bubble-chart-wrapper .time-slider-wrapper{
  margin-top: 30px;
}


.dropdown {
  &.closed {
    &:after {
      content: 'Down';
    }
  }
}


/*********************
Sunburst vis 
*********************/

.sector-vis-sunburst{
  background:$rvo-footerblauw;
  margin-bottom: 15px;


  .legendItem, path{
    cursor: pointer;
  }
}

/*********************
Budget SLIDER
*********************/

.slide {
  padding:11px 14px 4px 14px;
  border-radius:5px;
  margin: 30px 0 20px 0;
  background:darken($rvo-blauw, 1%);
  box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.2);
  &.active {
    .slider {
      .slider-selection {
        background: $rvo-groen;
      }
      .tooltip {
        .currency {
          background: rgba($rvo-groen, 0.7);
        }
        &.top {
          .tooltip-arrow {
            border-top-color: rgba($rvo-groen, 0.7);
          }
        }
        &.bottom {
          .tooltip-arrow {
            border-bottom-color: rgba($rvo-groen, 0.7);
          }
        }
      }
      .slider-track {
        .slider-handle {
          background: rgba(240,240,240,1);
          &:hover, &:focus {
            box-shadow: 0px 0px 0px 8px rgba(0,0,0, 0.3);
          }
        }
      }
    }
  }
  .slider {
    height:3px;
    .slider-track {
      height: 3px;
      box-shadow:none;
      background: rgba(0, 0, 0, 0.2);
      .slider-handle {
        background: rgba(240,240,240,1);
        border:none;
        width: 14px;
        height: 14px;
        margin-top: -6px;
        outline: none;
        box-shadow: 0px 0px 0px 8px rgba(0,0,0, 0),1px 1px 2px 0px rgba(0,0,0,0.3);
        transition:box-shadow .2s ease-in-out;
        &.min-slider-handle {
          margin-left:-4px !important;
        }
        &:hover, &:focus {
          box-shadow: 0px 0px 0px 8px rgba(0,0,0, 0.3);
        }
      }
    }
    .slider-selection {
      background: rgba(0, 0, 0, 0.3);
    }
  }
  #tooltip {
    display: none;
  }
  .tooltip {
    font-weight: 300;
    opacity: 1;
    font-size: 14px;
    //margin-left:-38px !important;
    font-size: 12px;
    &.tooltip-max {
      margin-left:-40px !important;
    }
    .tooltip-inner {
      display: none;
    }
    .currency {
      padding:3px 8px;
      background: $rvo-donkerblauw;
      box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.3);
      white-space: nowrap;
      text-align: center;
      color:$white;
      border-radius:3px;
    }
    &.top {
      margin-top:-45px !important;
      .tooltip-arrow {
        border-top-color: $rvo-donkerblauw;
      }
    }
    &.bottom {
     margin-top:-10px !important;
      .tooltip-arrow {
        border-bottom-color: $rvo-donkerblauw;
      }
    }
  }

}

/*********************
ACTIVITY LIST
*********************/

.activity-list-item {
  overflow: hidden;
  ul {
    margin: 0 0 0 20px;
    li {
      list-style: disc;
    }
  }
  .flag-icon {
    margin-right: 10px;
  }
  .panel {
    padding:10px 30px;
    border:0;
    background:$rvo-footerblauw;
    border-radius:0;
    //color:$white;
    margin-bottom: 10px;
    margin-top:0 !important;
    h2 {
      //olor:$white;
      margin-top:0;
    }
    .no-margin {
      margin:0;
    }
    a,h3,h4 {
      //color:$white;
    }
    p {
      margin-bottom: 0;
      &:first-of-type {
        margin-bottom: 5px;
      }
    }
  }
  .image {
    background-size:cover;
    background-position:center;
    width: 110%;
    height: 100px;
    background:$rvo-donkerblauw;
    margin-left: -30px;
    margin-top: -15px;
    margin-bottom: -15px;
    margin-right: -30px;
  }
  .country {
      h3 {
        line-height: 70px;
        white-space: nowrap;
      }
  }
  .panel.header {
    background:darken($rvo-lichtblauw,15%);
  }
  .children {
    h3 {
      font-size:22px;
    }
  }
}

.activity-list-item {
  .panel {
    h3 {
      color:$rvo-zwart;
    }
  }
}

.activity-list-item > .children {

  .panel {
    background: lighten($rvo-lichtblauw,16%);
  }

  .left-pad {
    padding-left: 25px;
  }
}

.activity-list-item .children .children {
  .panel {
    background: lighten($rvo-lichtblauw,17%);
  }

  .left-pad {
    padding-left: 50px;
  }
}

.pag {
  padding-bottom: 1em;
}

/*********************
Detail page
*********************/
.panel {
  border:0;
  border-radius:0;
  box-shadow:none;
  p:last-of-type {
    margin-bottom: 0;
  }
  &.blue {
    background:$rvo-blauw;
    color:$white;
    padding:10px 15px;
    h1,h2,h3,h4,h5,h6 {
      color:$white;
      &:first-of-type {
        margin-top:0;
      }
    }
  }
  &.white {
    //color:$rvo-blauw;
    padding:15px;
    h1,h2,h3,h4,h5,h6 {
      //color:$rvo-blauw;
      &:first-of-type {
        margin-top:0;
      }
    }
    hr {
      border-color:$rvo-donkerblauw;
    }
  }
  &.lightblue {
    background:$rvo-footerblauw;
    padding:10px 15px;
    //color:$rvo-blauw;
    h1,h2,h3,h4,h5,h6 {
      //color:$rvo-blauw;
      &:first-of-type {
        margin-top:0;
      }
    }
  }
  &.xlightblue {
    background:$rvo-xlichtblauw;
    padding:10px 15px;
    //color:$rvo-blauw;
    h1,h2,h3,h4,h5,h6 {
     // color:$rvo-blauw;
      &:first-of-type {
        margin-top:0;
      }
    }
  }
}

hr {
  &.darkblue {
    border-color:$rvo-donkerblauw;
    margin:10px 0;
  }
  &.rvo-grey{
    border-color:#e5e5e5;
    margin:10px 0;
  }
}

.progress {
  margin-bottom: 0;
  height:24px;
  position:relative;
  background: -webkit-linear-gradient(left, lighten($rvo-groen,30%), $rvo-groen, darken($rvo-groen,20%) );
  background: -o-linear-gradient(right, lighten($rvo-groen,30%), $rvo-groen, darken($rvo-groen,20%) );
  background: -moz-linear-gradient(right, lighten($rvo-groen,30%), $rvo-groen, darken($rvo-groen,20%) );
  background: linear-gradient(to right, lighten($rvo-groen,30%), $rvo-groen, darken($rvo-groen,20%) );
  border-radius:2px;
  &.small {
    height: 18px;
    .progress-bar {
      line-height: 18px;
    }
  }
  .progress-bar {
    line-height: 25px;
    box-shadow: 0px 0px 0px 2000px lighten($rvo-zwart,60%);
    background-image: none !important;
    background-color: transparent !important;
    transition:all .4s ease-in-out;
  }
  .spent {
    position:absolute;
    left:10px;
    color:$rvo-zwart;
    //text-shadow: 1px 1px 1px $white;
  }
}

.wrap-alternate {
  .panel {
    @extend .panel.xlightblue;
    &:nth-of-type(2n) {
      @extend .panel.lightblue;
    }
  }
}

.detailview {
  .icon {
    margin-right: 5px;
  }
}

.featured-image {
  img {
    width: 100%;
    height: auto;
  }
  margin-bottom: 15px;
}

.map.country {
  margin-bottom: 15px;
}

table.no-format {
  width: 100%;
  tr {
    &:first-of-type {
      td {
        padding-top:0
      }
    }
    &:nth-of-type(2n) {
      background:$rvo-xlichtblauw;
    }
  }
  td {
    padding:10px 15px 10px 15px;
    &:first-of-type {
      padding-right:10px;
      font-weight: 700;
    }
  }
  .icon {
    margin-right: 3px;
  }
}

.panel.with-table {
  padding:0;
  h3, h4 {
    padding: 10px 15px 0 15px;
  }
  p {
    padding:0 15px;
  }
  &.no-header {
    padding-top:10px;
  }
  &.share {
    table {
      tr:nth-of-type(2n) {
        background:none;
        td {
          padding-top:0;
        }
        .fa {
          font-size: 18px;
        }
      }
    }
  }
}

table.small-headers {
  th {
    font-size: 12px;
  }
}

table.finance {
  width: 100%;
  border:0;
  margin-bottom: 15px;
  thead {
    color:$white;
    border:0;
    font-size: 16px;
    tr {
      background:$rvo-blauw;
    }
    th {
      vertical-align: top;
    }
  }
  th, td {
    padding:10px 15px;
  }
  tr {
    background:$rvo-xlichtblauw;
    border-bottom:1px solid $white;
    &:nth-of-type(2n) {
      background:$rvo-footerblauw;
    }
  }
  &.no-blue {
    thead {
      color:$rvo-zwart;
      border-top:1px solid $white;
      tr {
        background:none;
      }
    }
    th,td {
      border-right:1px solid $white;
      &:last-of-type {
        border-right:0;
      }
    }
  }
}

.video {
  iframe {
    width: 100%;
    height: auto;
  }
  &:last-of-type {
    margin-bottom: 15px;
  }
}

/* 
RESULTS PAGE
 */

.results {
  .nvd3 .nv-group rect[height="0"]{
  display: none;
  }
  
  /* .pic {
    padding-right: 30px;
  } */

  .panel{
    margin-bottom: 0;

    /* &.right{
      height: 100%;
    } */
  }

  .select-header{

    h3{
      margin-top: 13px;
    }

    .download-list{
      margin-top: 18px;
    }
  }
  .result-description-info{
    &:before {
      font-family: 'FontAwesome';
      margin-right: 2px;
      margin-left: 2px;
      content:'\f05a';
      color:$rvo-blauw;
      transition: all .4s ease-in-out;
    }
  }

  .comment{
    &:before {
      font-family: 'FontAwesome';
      margin-right: 2px;
      content:'\f075';
      color:$rvo-groen;
      transition: all .4s ease-in-out;
    }
  }
  .front-callout {
    font-weight: 400;
    color:$white;
    padding-bottom:10px;
  }
  .container {
    &.xlight {
      background:#fff;
      padding-top:5px;
    }
  }
  .fake-table {
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(187,187,187,1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(187,187,187,1);
    box-shadow: 0px 3px 5px 0px rgba(187,187,187,1);
    padding: 5px 5px 5px 10px;
    min-height: 310px;
    max-height: 310px;
    overflow-y: scroll;
    overflow-x: hidden;

    .indicator-selector-label{
      cursor: pointer;
      font-weight: normal;
      
      &.indicator-header{
        font-weight: bold;
        padding-top: 13px;
      }

      input{
        cursor: pointer;
      }
    }

    .head {
      // h3 {
      //   background:$rvo-footerblauw;
      //   margin:0 0 1px 0;
      //   padding: 10px 15px;
      // }
    }
    .body {
      font-size: 14px;
      border-bottom:1px solid #e5e5e5;

      &:nth-of-type(2n) {
        background:none;
      }
      
      .wrap {
        padding: 0;
        overflow: visible;

        .indicator-tooltip{
          white-space: normal;
          
          p{
            min-width: 400px;
            padding: 30px 0 20px;
            margin: 0;
          }
        }
      }
      input[type="checkbox"] {
        margin-right: 5px;
      }
    }
  }
}


/*********************
FOOTER
*********************/

footer {
  padding:14px 30px 30px 30px;
  border-top: 13px solid #b2d7ee;
  background:$rvo-footerblauw;
  color:$rvo-donkerblauw;
  font-size: 14px;
  h2 {
    font-size: 23px;
    margin-bottom: 8px;
    margin-top: 16px;
  }
  a {
    color:$rvo-donkerblauw;
    &:hover {
      color:$rvo-blauw;
    }
  }
  ul {
    margin:0;
  }
  li {
    margin-bottom: 7px;
    &:before {
      font-family: 'FontAwesome';
      content: '\f105';
      margin-right: 5px;
    }
  }
  .social {
    font-size: 22px;
    margin-top:6px;
    a {
      margin:0 2px;
      display: inline-block;
    }
  }
  .icon {
    font-size: 12px;
    margin-left:3px;
  }
}
#footer-ribbon {
  clear: both;
  width: 44px;
  height: 25px;
  background-color: #114476;
  margin-left: auto;
  margin-right: auto;
  margin-top:30px;
}

/*********************
Kaarten
*********************/
.map-holder {
  background-color: rgba($blauw,0.3);
  position: relative;
  padding:15px;
  margin-bottom:15px;
  h3 {
    margin-top: 0;
  }
}

.leaflet-control-layers  {
  display: none;
}

.geomap-mask {
}

.map-switch {
  position:absolute;
  top:3px;
  left:8px;;
  width:220px;
  z-index: 99;
  .custom-select {
    border-color:#ccc;
  }
  select {
      font-size:16px;
      font-weight: 600;
      padding-left:10px;
  }
}

.marker-circle{ 
  border-radius: 22px;
  font-size:15px;
  width: 22px; 
  height: 22px;
}

.marker-circle-Other{
  background-color: $rvo-groen;
}
.marker-circle-Other2{
  background-color: $rvo-blauw;
}

.tab {
  font-size: 24px;
  text-align: center;
  padding:10px 15px;
  background: rgba($blauw, 0.1);
  cursor: pointer;
  transition: all .2s;
  &.active, &:hover {
    background:rgba($blauw, 0.3);
  }
  &.active {
    cursor: auto;
  }
}

.info {
  text-align: left;
  float: right;
  width: 48%;
  background-color: rgba(255,255,255,0.9); 
  padding:10px;
  margin-bottom: 15px;
  p {
    margin-bottom: 0;
  }
  .flag-icon {
    font-size: 2.5em;
    border-radius: 4px;
  }
  .btn {
    margin-top:10px;
  }
}

.legend {
  text-align: center;
  margin-top:10px;
  .check {
    position: relative;
    display: inline-block;
  }
  label {
    font-weight: normal;
    cursor: pointer;
  }
  .labels {
    margin-left: 38px;
  }
  h3 {
    font-size: 1.2em;
  }
  .check {
    margin-right: 20px;
    &:last-of-type {
      margin-right: 0;
    }
  }
  .faker {
    position: absolute;
    top:4px;
  }
  .fa.kleur {
    color:$blauw;
  }
}


.overlay {
  background:rgba(#fff,1);
  z-index:99999;
  padding:10px 10px;
  text-align: center;
  table {
    margin:0 auto;
    th {
      padding:0 15px;
      font-size:18px;
      font-weight: 600;
    }
    td {
      padding:5px 15px 0 15px;
      font-size:18px;
    }
  }
}

.region-marker-circle {
  width: 200px;
  height: 200px;
  border-radius:100px;
  background:rgba($oranje,.5);
  background:rgba(40,40,40,.5);
}

.region-marker-circle:hover {
  background:rgba($oranje,.5);
}

.map {
  .leaflet-div-icon {
    background: none;
    border:0;
  }
  .leaflet-popup-content-wrapper {
    width: 280px;
    padding:0;
    background-color: $white; 
    border-radius:0;
  }
  .leaflet-popup-content {
    margin:0;
    padding:10px;
  }
  .leaflet-container {
    a {
      &:hover {
        color:$rvo-donkerblauw;
      }
    }
  }
  .leaflet-top, .leaflet-bottom {
    z-index: 9;
  }
  a.leaflet-popup-close-button {
    display: block;
    height:30px;
    width:30px;
    border-radius: 15px;
    font-size: 14px;
    color:$grijs;
    line-height: 20px;
    text-indent:5px;
    font-weight: 700;
  }
  p {
    margin:0 0 2px;
    font-size: 12px;
    color:$rvo-donkerblauw;
  }
  h4 {
    margin-top:0;
    color:$rvo-donkerblauw;
  }
  hr {
    margin:10px -10px;
    border-top:1px dotted $rvo-donkerblauw;
  }
  .flag-icon {
    border-radius: 4px;
    margin-right: 5px;
  }
  .btn {
    margin-top:10px;
  }
  .icon {
    margin-right: 3px;
  }
}

/*********************
Tooltips donuts
*********************/
.nvtooltip,.zz_tooltip {
  font-size: 14px;
  padding:10px;
  width: 280px !important;
  border-radius: 0px;
  box-shadow: 0 3px 14px rgba(0,0,0,0.4);
  color: $rvo-zwart;
  background-color: #fff;
  border:0;
  margin-top:-40px;
  margin-left:-20px;
  text-align:left;
  h4 {
    margin-top:0;
    color:$rvo-donkerblauw;
    text-align:left;
    width: 100%;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
  }
  p {
    margin:0 0 2px;
    font-size: 14px;
    color:$rvo-donkerblauw;
    text-align:left;
    padding:0;
  }
  hr {
    margin:10px -10px;
    border-top:1px dotted $rvo-donkerblauw;
  }
  .icon {
    margin-right: 3px;
  }
}

.zz_tooltip {
  position: absolute;
  transition: all .2s ease-in-out;
  filter: drop-shadow(rgba(0, 0, 0, 0.5) 0 2px 10px);
  -webkit-filter: drop-shadow(rgba(0,0,0,0.5) 0 2px 10px);
  pointer-events: none;
  &:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #fff;
    border-width: 10px;
    margin-left: -10px;
  }
}

/*********************
Icons
*********************/
.icon {
  display: inline-block;
  &:before {
    font-family: 'AGNL-Icon-Font';
    //font-size: 30px;
    //margin-right:7px;
    //float: left;
    font-style: normal;
  }
  &.right {
    margin-left:7px;
    margin-right: 0;
    font-size:16px;
  }
  &.lightbulb {
    &:before {
      content:'\e010';
    }
  }
  &.satelite {
    &:before {
      content:'\e015';
    }
  }
  &.globe {
    &:before {
      content:'\e00e';
    }
  }
  &.handshake {
    &:before {
      content:'\e614';
    }
  }
  &.presentation {
    &:before {
      content:'\e606';
    }
  }
  &.clock {
    &:before {
      content:'\e604';
    }
  }
  &.euro {
    &:before {
      content:'\e00d';
    }
  }
  &.search {
    &:before {
      content: '\007a';
    }
  }
  &.download {
    &:before {
      content: '\e00f';
    }
  }
  &.twitter {
    &:before {
      content: '\e01a';
    }
  }
  &.facebook {
    &:before {
      content: '\e011';
    }
  }
  &.linkedin {
    &:before {
      content: '\e014';
    }
  }
  &.email {
    &:before {
      font-family: 'FontAwesome';
      content: '\f0e0';
    }
  }
  &.graph {
    &:before {
      content: '\e61e';
    }
  }
  &.medal {
    &:before {
      content: '\e60f';
    }
  }
  &.buildings {
    &:before {
      content: '\e61a';
    }
  }
  &.pin {
    &:before {
      content: '\e60b';
    }
  }
  &.refresh {
    &:before {
      content: '\e605';
    }
  }
  &.link {
    &:before {
      content: '\0021';
    }
  }
  &.film {
    &:before {
      content: '\e602';
    }
  }
  &.check {
    &:before {
      content: '\e61c';
    }
  }
}

/*********************
Mobile only fix
*********************/
@media (max-width: 767px) {
  .page-wrap {
    width: 100%;
    overflow:hidden;
  }
}


/*********************
Safari 6.1+ (9.0 is the latest version of Safari at this time)
*********************/


.visualize:not(:root:root), .cirkle-vis:not(:root:root) {
  svg {
    -webkit-filter: none;
    filter: none;
  }
}