MAP HERE

<div class="row" 
    ng-show="
      vm.currentPage != 'search' &&
      vm.currentPage != 'programme' &&
      vm.currentPage != 'country' &&
      vm.currentPage != 'sector' &&
      vm.currentPage != 'organisation'">
  <div class="col-sm-12">
    <div class="list front-callout">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel">
            With {{vm.totalActivities}} programmes and XX projects in XX sectors and XX countries.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row cirkle-vis">
    <div class="col-xs-12">
        <div class="panel lightblue clearfix no-padding-top no-margin-bottom">
            <div class="row">
                <div class="col-sm-3 col-sm-offset-3">
                    <oipa-pie-chart group-by="activity_status" aggregation-key="count"></oipa-pie-chart>
                    <h4>Project distribution</h4>
                </div>
                <div class="col-sm-3">
                    <oipa-pie-chart group-by="activity_status" aggregation-key="count"></oipa-pie-chart>
                    <h4>Budget distibution</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">  
    <div class="row">
        <div class="col-md-12">
            <div class="sort">
                <span class="sort-by">Sort by: </span>
                    <div class="custom-select ff-hack">
                        <select
                          ng-model="vm.order_by"
                          ng-change="vm.toggleOrder()">
                          <option value="start_actual">Starting date (increasing)</option>
                          <option value="-start_actual">Starting date (decreasing)</option>
                          <option value="total_budget">Budget (increasing)</option>
                          <option value="-total_budget">Budget (decreasing)</option>
                        </select>
                    </div>
                <span class="results">Results: <span class="total">{{vm.totalActivities}}</span></span>
            </div>
        </div>
    </div>

    <div ng-if='vm.totalActivities == 0' class="row">
        <div class="col-sm-12">
            <div class="no-results">
                <h2>Nothing found</h2>
                <p>Please select some different filters.</p>
            </div>
        </div>
    </div>
</div>

<table infinite-scroll='vm.nextPage()' infinite-scroll-disabled='vm.busy' infinite-scroll-distance='1' class="table list-overview" ng-show="vm.activities.length != 0">
    <thead>
        <tr>
            <th width="500">Programme title</th>
            <th>Number of projects</th>
            <th>Number of countries</th>
            <th>Number of sectors</th>
            <th>Total budget</th>
        </tr>
    </thead>
    <tbody>
        <tr
            ng-repeat="item in vm.activities">
            <td><a ui-sref="programme({ programme_id: item.id })">{{ item.title.narratives[0].text }}</a></td>
            <td>XX projects</td>
            <td>XX countries</td>
            <td>XX sectors</td>
            <td>{{item.activity_aggregation.budget_value | shortcurrency :'€'}}</td>
        </tr>
    </tbody>
</table>