<div id="main-content" ng-if="!vm.activity && !vm.busy">

    <div class="container extra">

        <div class="white no-margin-bottom">
            <h1>Not found</h1>
        </div>

        <h4>Please contact the administrators if you feel this page is shown in error.</h4>
    </div>

</div>

<div id="main-content" class="activity" ng-if="vm.activity">

    <div class="container extra">

        <div class="detailview white no-margin-bottom no-padding-bottom">
            <div ng-repeat="recipient_country in vm.activity.recipient_countries"  style="display:inline-block;margin: 10px 10px 0 0;">
                <h4>
                    <span class="flag-icon flag-icon-{{recipient_country.country.code | lowercase }} detail-flag"></span>
                    {{recipient_country.country.name}}
                </h4>
            </div>
            <h1 class="no-margin-top no-margin-bottom">{{vm.activity.title.narratives[0].text}}</h1>         
        </div>

        <hr class="darkblue no-margin-bottom">

        <sub-navbar 
            tabs='vm.tabs' 
            selected-tab='vm.selectedTab'>
        </sub-navbar>

        <div class="content-offset detailview" ng-show="vm.selectedTab == 'summary'">
    
            <div class="row">
                <div class="col-md-8">
                    <div class="featured-image" ng-if="vm.featuredImage">
                        <img ng-src="{{vm.featuredImage}}">
                    </div>
                    <div class="white">
                        <h3 ng-if="vm.featuredImage">Description</h3>
                        <h3 ng-if="!vm.featuredImage" class="no-margin-top">Description</h3>
                        <p style="white-space: pre-wrap;" ng-bind-html="vm.description"></p>              
                    </div>
                    <div class="white no-margin-bottom no-padding-bottom">
                        <h3>Location</h3>
                    </div>
                    <div class="map">
                        <activity-geomap map-height="350px" activity="vm.activity"></activity-geomap>
                    </div>

                   <!--  <div class="white no-margin-bottom no-padding-bottom">
                        <h3>Sustainable development goal contribution</h3>
                    </div>
                    <div class="sdg-icons">
                        <div
                            ng-repeat="goalId in vm.sdg_goal_ids" 
                            tooltips 
                            tooltip-class="sdg-tooltip zz_tooltip"
                            tooltip-template="{{vm.tooltip(goalId)}}">
                            <img 
                                class="sdg-img" 
                                width="144" 
                                height="144" 
                                ng-src="{{vm.templateBaseUrl + '/images/sdg/sdg_goal_' + goalId + '.png'}}" 
                                 />
                        </div>
                        <span ng-if="vm.sdg_goal_ids.length == 0">Data to be added</span>
                    </div> -->
                </div>
                <div class="col-md-4">
                    <div class="panel with-table lightblue">
                        <h3>Information</h3>
                        <hr>
                        <table class="no-format">
                            <tr>
                                <td width="130">Project number: </td>
                                <td>{{vm.activity.iati_identifier}}</td>
                            </tr>
                            <tr>
                                <td>Last updated:</td>
                                <td>{{vm.activity.last_updated_datetime | date : 'd MMM yyyy'}}</td>
                            </tr>
                            <tr>
                                <td>Contact:</td>
                                <td><a href="mailto:iati@rvo.nl">iati@rvo.nl</a></td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel with-table lightblue">
                        <h3>Project details</h3>
                        <hr>

                        <table class="no-format">
                            <tr>
                                <td>Start date:</td>
                                <td>{{vm.start_date | date : 'dd-MM-yyyy'}}</td>
                            </tr>
                            <tr>
                                <td>End date:</td>
                                <td>{{vm.end_date | date : 'dd-MM-yyyy'}}</td>
                            </tr>
                            <tr class="panel lightblue">
                                <td>Country:</td>
                                <td><a ng-repeat="recipient_country in vm.activity.recipient_countries" ui-sref="country({ country_id: recipient_country.country.code, tab: 'summary' })">{{recipient_country.country.name}}{{$last ? '' : ', '}}</a><span ng-if='vm.activity.recipient_countries.length == 0'>Data to be added</span> </td>
                            </tr>
                            <tr>
                                <td width="130">Sectors: </td>

                                <td><a ng-repeat="sector in vm.activity.sectors | filter:{vocabulary: {code: '1'}}" ui-sref="sector({ sector_id: sector.sector.code, tab: 'summary' })">{{sector.sector.name}}{{$last ? '' : ', '}}</a><span ng-if='vm.activity.sectors.length == 0'>Data to be added</span> </td>
                            </tr>
                            <tr>
                                <td>Programme:</td>
                                <td><a ui-sref="programme({ programme_id: vm.activity.related_activities[0].ref, tab: 'summary' })">
                                    {{vm.activity.related_activities[0].name}}
                                </a><span ng-if="!vm.activity.related_activities[0].ref">Data to be added</span></td>
                            </tr>
                            <tr>
                                <td>Total budget: </td>
                                <td><span ng-if='vm.budget'>{{vm.budget | shortcurrency :'€'}}</span>
                                <span ng-if='!vm.budget'>Data to be added</span></td>
                            </tr>
                            <tr>
                                <td>Budget spent:</td>
                                <td>
                                    <div class="progress small">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="vm.budgetLeft" aria-valuemin="0" aria-valuemax="100" ng-style="vm.progressStyle">
                                            <span class="spent">{{vm.budgetLeft}}% spent</span>
                                        <div class="gradient"></div>
                                      </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Funding partners:</td>
                                <td>
                                    <a class="show-me" ng-if="org.role.code == 1" ui-sref="organisation({ organisation_id: org.narratives[0].text, tab: 'summary' })" ng-repeat='org in vm.activity.participating_organisations'>
                                    {{org.narratives[0].text}}{{$last ? '' : ', '}}
                                    </a>
                                    <span class="hide-me">Data to be added</span></td>
                            </tr>
                            <tr>
                                <td>Project partners:</td>
                                <td>
                                    <a class="show-me" ng-if="org.role.code == 2 || org.role.code == 4" ui-sref="organisation({ organisation_id: org.narratives[0].text, tab: 'summary' })" ng-repeat='org in vm.activity.participating_organisations'>
                                    {{org.narratives[0].text}}{{$last ? '' : ', '}}
                                    </a>
                                    <span class="hide-me">Data to be added</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Status:</td>
                                <td>{{vm.activity.activity_status.name}}</td>
                            </tr>
                            <tr>
                                <td>(Un)tied:</td>
                                <td><span ng-if='vm.activity.default_tied_status.name.length'>
                                    {{vm.activity.default_tied_status.name}}
                                </span>
                                <span ng-if='!vm.activity.default_tied_status.name.length'>
                                    Data to be added
                                </span></td>
                            </tr>
                            <tr>
                                <td>Policy marker(s):</td>
                                <td>
                                    <span ng-repeat="pm in vm.activity.policy_markers" ng-if="pm.significance.code != 0">{{pm.code.name}}</span>
                                    <span ng-if='!vm.activity.policy_markers.length'>Data to be added</span>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="panel lightblue with-table share">
                        <h3>Export &amp; share</h3>
                        <hr>
                        <table class="no-format">
                            <tr>
                                <td width="130">Download:</td>
                                <td>
                                    <a ng-click="vm.download('json')"><i class="fa fa-download"></i>JSON</a>
                                    &nbsp;&nbsp;
                                    <a ng-click="vm.download('csv')"><i class="fa fa-download"></i>CSV</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Share:</td>
                                <td>
                                    <share-links></share-links>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- detailed report page -->
        <div class="row detailview" ng-show="vm.selectedTab == 'detailedreport'">

            <div class="col-md-12">

                <div class="panel lightblue with-table">

                    <h3>Dates & description</h3>
                    <hr>
                    <table class="no-format">
                        <tr>
                            <td width="200">RVO Project: </td>
                            <td>{{vm.activity.iati_identifier}}</td>
                        </tr>
                        <tr>
                            <td>Title:</td>
                            <td>{{vm.activity.title.narratives[0].text}}</td>
                        </tr>
                        <tr>
                            <td>Description:</td>
                            <td style="white-space: pre-wrap;">{{vm.activity.descriptions[0].narratives[0].text}}</td>
                        </tr>
                        <tr>
                            <td>Description type:</td>
                            <td>{{vm.activity.descriptions[0].type.name}}</td>
                        </tr>
                        <tr>
                            <td>Status:</td>
                            <td>{{vm.activity.activity_status.name}}</td>
                        </tr>
                        <tr>
                            <td>Start date planned:</td>
                            <td>{{vm.start_planned ? vm.start_planned : 'Data to be added' | date : 'dd-MM-yyyy'}}</td>
                        </tr>
                        <tr>
                            <td>Start date actual:</td>
                            <td>{{vm.start_actual ? vm.start_actual : 'Data to be added' | date : 'dd-MM-yyyy'}}</td>
                        </tr>
                        <tr>
                            <td>End date planned:</td>
                            <td>{{vm.end_planned ? vm.end_planned : 'Data to be added' | date : 'dd-MM-yyyy'}}</td>
                        </tr>
                        <tr>
                            <td>End date actual:</td>
                            <td>{{vm.end_actual ? vm.end_actual : 'Data to be added' | date : 'dd-MM-yyyy'}}</td>
                        </tr>
                    </table>
                </div>

                <div class="panel lightblue with-table">

                    <h3>Related activities</h3>
                    <div class="table-responsive">
                        <table class="finance no-blue" ng-show="vm.activity.related_activities">
                            <thead>
                                <tr>
                                    <th>Related activity name</th>
                                    <th width="30%">Related activity ref</th>
                                    <th width="30%">Related activity type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="related_activity in vm.activity.related_activities">
                                    <td>
                                        {{related_activity.name}}<span ng-if="!related_activity.name">Data to be added</span>
                                    </td>
                                    <td>
                                        {{related_activity.ref}}<span ng-if="!related_activity.ref">Data to be added</span>
                                    </td>
                                    <td>
                                        {{related_activity.type.name}}<span ng-if="!related_activity.type.name">Data to be added</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-if="!vm.activity.related_activities">
                        <hr>
                        <p style="padding-left:15px;padding-bottom:10px;">Data to be added</p>
                    </div>
                </div>


                <div class="panel lightblue with-table">

                    <h3>Participating organisations</h3>
                    <div class="table-responsive">
                        <table class="finance no-blue" ng-show="vm.activity.participating_organisations">
                            <thead>
                                <tr>
                                    <th>Organisation name</th>
                                    <th width="20%">Role</th>
                                    <th width="20%">Ref</th>
                                    <th width="20%">Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="org in vm.activity.participating_organisations">
                                    <td>
                                        {{org.narratives[0].text}}
                                    </td>
                                    <td>
                                        {{org.role.name}}
                                        <span ng-if="!org.role.name">-</span>
                                    </td>
                                    <td>
                                        {{org.ref}}
                                        <span ng-if="!org.ref">-</span>
                                    </td>
                                    <td>
                                        {{org.type.name}}
                                        <span ng-if="!org.type.name">-</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-if="!vm.activity.participating_organisations">
                        <hr>
                        <p style="padding-left:15px;padding-bottom:10px;">Data to be added</p>
                    </div>
                </div>

                <div class="panel lightblue with-table">

                    <h3>Recipient countries</h3>
                    <div class="table-responsive">
                        <table class="finance no-blue" ng-if="vm.activity.recipient_countries.length != 0">
                            <thead>
                                <tr>
                                    <th>Country</th>
                                    <th width="30%">Country code (iso2)</th>
                                    <th width="30%">Percentage</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="country in vm.activity.recipient_countries">
                                    <td>
                                        {{country.country.name}}
                                    </td>
                                    <td>
                                        {{country.country.code}}
                                    </td>
                                    <td>
                                        {{country.percentage}}%
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-if="vm.activity.recipient_countries.length == 0">
                        <hr>
                        <p style="padding-left:15px;padding-bottom:10px;">Data to be added</p>
                    </div>

                </div>

                <div class="panel lightblue with-table">

                    <h3>Geographical locations</h3>
                    <div class="table-responsive">
                        <table class="finance no-blue" ng-if="vm.activity.locations.length != 0">
                            <thead>
                                <tr>
                                    <th>Ref</th>
                                    <th width="30%">Latitude</th>
                                    <th width="30%">Longitude</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="location in vm.activity.locations">
                                    <td>
                                        {{location.ref}}
                                    </td>
                                    <td>
                                        {{location.point.pos.latitude}}
                                    </td>
                                    <td>
                                        {{location.point.pos.longitude}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-if="vm.activity.locations.length == 0">
                        <hr>
                        <p style="padding-left:15px;padding-bottom:10px;">Data to be added</p>
                    </div>

                </div>

                <div class="panel lightblue with-table">

                    <h3>Sectors</h3>
                    
                    <table class="finance no-blue" ng-if="vm.activity.sectors.length != 0">
                        <thead>
                            <tr>
                                <th>Sector</th>
                                <th width="30%">Code</th>
                                <th width="30%">Percentage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, sector) in vm.activity.sectors | filter:{vocabulary: {code: '1'}}">
                                <td>
                                    {{sector.sector.name}}
                                </td>
                                <td>
                                    {{sector.sector.code}}
                                </td>
                                <td>
                                    {{sector.percentage}}%
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div ng-if="vm.activity.sectors.length == 0">
                        <hr>
                        <p style="padding-left:15px;padding-bottom:10px;">Data to be added</p>
                    </div>

                </div>

<!-- 
                <div class="panel lightblue with-table">

                    <h3>Sustainable development goals</h3>
                    
                    <table class="finance no-blue" ng-if="vm.sdg_targets.length != 0">
                        <thead>
                            <tr>
                                <th width="20%">SDG goal</th>
                                <th width="60%">SDG target</th>
                                <th width="20%">Relative importance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, sector) in vm.sdg_targets">
                                <td>
                                    {{sector.sector.code.split('.')[0] + '. ' + vm.sdg_goals[sector.sector.code.split('.')[0]]}}
                                </td>
                                <td>
                                    {{sector.sector.code + '. ' + vm.sdg_target_titles[sector.sector.code]}}.
                                </td>
                                <td>
                                    {{sector.percentage}}%
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div ng-if="vm.sdg_targets.length == 0">
                        <hr>
                        <p style="padding-left:15px;padding-bottom:10px;">Data to be added</p>
                    </div>

                </div>
 -->


                <div class="panel lightblue with-table">
                    <h3>Policy markers</h3>
                    <table class="finance no-blue">
                        <thead>
                            <tr>
                                <th>Marker</th>
                                <th width="20%" class="text-center">Principal objective</th>
                                <th width="20%" class="text-center">Significant objective</th>
                                <th width="20%" class="text-center">Not targeted</th>
                            </tr>
                        </thead>
                         <tbody>
                            <tr ng-repeat="marker in vm.activity.policy_markers">
                                <td>{{marker.code.name}}</td>
                                <td class="text-center">
                                    <span ng-if="marker.significance.code == 2"><i class="fa fa-check"></i></span>
                                </td>
                                <td class="text-center">
                                    <span ng-if="marker.significance.code == 1"><i class="fa fa-check"></i></span>
                                </td>
                                <td class="text-center">
                                    <span ng-if="marker.significance.code == 0"><i class="fa fa-check"></i></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div ng-if="vm.activity.policy_markers.length == 0">
                        <hr>
                        <p style="padding-left:15px;padding-bottom:10px;">Data to be added</p>
                    </div>
                </div>

           
                <div class="panel lightblue with-table">

                    <h3>Transactions</h3>
                    <div class="table-responsive">
                        <table class="finance no-blue" ng-if="vm.transactionData.length != 0">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Provider</th>
                                    <th>Provider ref.</th>
                                    <th>Provider act. id</th>
                                    <th>Receiver</th>
                                    <th>Receiver ref.</th>
                                    <th>Receiver act. id</th>
                                    <th>Value</th>
                                    <th>Date</th>
                                    <th>Value date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="transaction in vm.transactionData">
                                    <td>
                                        {{transaction.transaction_type.name}}
                                    </td>
                                    <td>
                                        {{transaction.provider_organisation.narratives[0].text}}
                                        <span ng-if="!transaction.provider_organisation">-</span>
                                    </td>
                                    <td>
                                        {{transaction.provider_organisation.ref}}
                                        <span ng-if="!transaction.provider_organisation.ref">-</span>
                                    </td>
                                    <td>
                                        {{transaction.provider_organisation.receiver_activity_id}}
                                        <span ng-if="!transaction.provider_organisation.receiver_activity_id">-</span>
                                    </td>
                                    <td>
                                        {{transaction.receiver_organisation.narratives[0].text}}
                                        <span ng-if="!transaction.receiver_organisation">-</span>
                                    </td>
                                    <td>
                                        {{transaction.receiver_organisation.ref}}
                                        <span ng-if="!transaction.receiver_organisation.ref">-</span>
                                    </td>
                                    <td>
                                        {{transaction.receiver_organisation.receiver_activity_id}}
                                        <span ng-if="!transaction.receiver_organisation.receiver_activity_id">-</span>
                                    </td>
                                    <td>{{transaction.value | shortcurrency :'€'}}</td>
                                    <td>{{transaction.transaction_date | date : 'dd-MM-yyyy'}}</td>
                                    <td>{{transaction.value_date | date : 'dd-MM-yyyy'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-if="vm.transactionData.length == 0">
                        <hr>
                        <p style="padding-left:15px;">Data to be added</p>
                        <hr>
                    </div>

                    <table class="no-format">
                        <tr>
                            <td>
                                <div class="progress small">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="vm.budgetLeft" aria-valuemin="0" aria-valuemax="100" ng-style="vm.progressStyle">
                                        <span class="spent">{{vm.budgetLeft}}% of budget spent</span>
                                    <div class="gradient"></div>
                                  </div>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <hr style="margin-top:5px;">

                    <table class="no-format">
                        <tr>
                            <td>
                                <nvd3 
                                    options="vm.transactionChartOptions" 
                                    data="vm.transactionChartData" 
                                    class="with-3d-shadow with-transitions"></nvd3>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel lightblue with-table">

                    <h3>Results</h3>
                    <div class="table-responsive">
                        <table class="finance no-blue" ng-if="vm.detailedResultRows.length != 0">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Type</th>
                                    <th>Indicator</th>
                                    <th>Indicator description</th>
                                    <th>Baseline year</th>
                                    <th>Baseline value</th>
                                    <th>Period start</th>
                                    <th>Period end</th>
                                    <th>Target value</th>
                                    <th>Actual value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="result in vm.detailedResultRows">
                                    <td>
                                        {{result.result_title}}
                                    </td>
                                    <td>
                                        {{result.result_description}}
                                    </td>
                                    <td>
                                        {{result.result_type}}
                                    </td>
                                    <td>
                                        {{result.result_indicator_title}}
                                    </td>
                                    <td>
                                        {{result.result_indicator_description}}
                                    </td>
                                    <td>
                                        {{result.baseline_year}}
                                    </td>
                                    <td>
                                        {{result.baseline_value}}
                                    </td>
                                    <td>
                                        {{result.period_start | date : 'dd-MM-yyyy'}}
                                    </td>
                                    <td>
                                        {{result.period_end | date : 'dd-MM-yyyy'}}
                                    </td>
                                    <td>
                                        {{result.period_target_value | number : 0}}
                                    </td>
                                    <td>
                                        {{result.period_actual_value | number : 0}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-if="vm.activity.results.length == 0">
                        <hr>
                        <p style="padding-left:15px;padding-bottom:10px;">Data to be added</p>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="mediapage" ng-show="vm.selectedTab == 'mediapage'">
            <div class="row">

                <div class="col-md-12">
                    <div class="panel lightblue">
                        <h3>Related videos</h3>
                        <hr>
                        <div class="row" ng-if="vm.relatedYoutube.length != 0 || vm.relatedVimeo.length != 0 || vm.relatedVideo.length != 0">
                            <div class="col-md-6 item" ng-repeat="video in vm.relatedVimeo">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" ng-src="{{video.url}}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-md-6 item" ng-repeat="video in vm.relatedYoutube">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" width="560" height="315" ng-src="{{video.url}}" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>

                            <div class="col-md-6 item" ng-repeat="video in vm.relatedVideo">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <video width="560" height="315" controls>
                                      <source ng-src="{{video.url}}" type="video/mp4">
                                      <source ng-src="{{video.url}}" type="video/ogg">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                            </div>

                        </div>
                        <p ng-if="vm.relatedYoutube.length == 0 && vm.relatedVimeo.length == 0 && vm.relatedVideo.length == 0">Data to be added</p>
                    </div>
                    <div class="panel lightblue images">
                        <h3>Related images</h3>
                        <hr>
                        <div class="row" ng-if="vm.relatedImages.length != 0">
                            <div class="col-xs-6 col-sm-4 col-md-3 item" ng-repeat="img in vm.relatedImages">
                                <a href="{{img.url}}" target="_blank"><img ng-src="{{img.url}}" alt="{{img.title}}" title="{{img.title}}"></a>
                            </div>
                        </div>
                        <p ng-if="vm.relatedImages.length == 0">Data to be added</p>
                    </div>
                    <div class="panel lightblue with-table">
                        <h3>Related documents</h3>
                        <div class="table-responsive" ng-if="vm.relatedDocuments.length != 0">
                            <table class="finance no-blue">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <!-- <th>Categories</th> -->
                                        <th>Language</th>
                                        <th width="110">Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="document in vm.relatedDocuments">
                                        <td>
                                            <a href="{{document.url}}" target="_blank">{{document.title}}</a>
                                        </td>
                                        <!-- <td>
                                             <span ng-repeat='cat in document.categories'>{{cat.name}}{{$last ? '' : '; '}}</span>
                                        </td> -->
                                        <td>
                                            {{document.language}}
                                        </td>
                                        <td>
                                            {{document.filetype}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-if="vm.relatedDocuments.length == 0">
                            <hr>
                            <p style="padding-left:15px;padding-bottom:10px;">Data to be added</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="goalsresultspage" ng-if="vm.selectedTab == 'results'">

            <table id="project-list-results" class="results table list-overview" ng-show="vm.resultRows.length != 0">
                <thead>
                    <tr>
                        <th width="16%">Result type</th>
                        <th width="30%">Result indicator title</th>
                        <th width="30%">Result indicator description</th>
                        <th width="8%">Baseline value (year)</th>
                        <th width="8%">Actual value (year)</th>
                        <th width="8%">Target value (year)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.resultRows">
                        <td>
                          {{item.result_type}}
                        </td>
                        <td>
                          {{item.result_indicator_title}}
                        </td>
                        <td>
                          {{item.result_indicator_description_short}}
                          <a 
                            ng-if="item.result_indicator_description_short.length == 75" 
                            ng-href="#" 
                            ng-click="item.result_indicator_description_short = item.result_indicator_description">
                            ... More
                          </a>
                          <a 
                            ng-if="item.result_indicator_description_short.length > 75" 
                            ng-href="#" 
                            ng-click="item.result_indicator_description_short = item.result_indicator_description_short.substr(0,75)">
                            ... Less
                          </a>
                        </td>

                        <td ng-if="item.baseline_value != null">
                          {{item.baseline_value | number : 0}}
                          ({{item.baseline_year}})
                        </td>
                        <td ng-if="item.baseline_value == null">
                      

                        <td ng-if="item.period_actual_value != null">
                          <span ng-if="item.result_indicator_title.indexOf('co-invest') > -1">&euro;</span>{{item.period_actual_value | number : 0}}
                          ({{item.period_target_year | date : 'yyyy'}})
                          <a class="comment" ng-if="item.period_actual_comment != null" tooltips tooltip-template="{{item.period_actual_comment.narratives[0].text}}"></a>
                        </td>
                        <td ng-if="item.period_actual_value == null">
                          
                        </td>

                        <td ng-if="item.period_target_value != null">
                        <span ng-if="item.result_indicator_title.indexOf('co-invest') > -1">&euro;</span>{{item.period_target_value | number : 0}}
                          ({{item.period_target_year | date : 'yyyy'}})
                          <a class="comment" ng-if="item.period_target_comment != null" tooltips tooltip-template="{{item.period_target_comment.narratives[0].text}}"></a>
                        </td>
                        <td ng-if="item.period_target_value == null">
                          
                        </td>

                    </tr>
                </tbody>
            </table>
            <div class="panel lightblue" ng-if="vm.activity.results.length == 0">
                Data to be added
            </div>
        </div>

    </div>
</div>


