<div id="main-content" class="activity">

    <div class="container extra">

        <div class="detailview white no-margin-bottom no-padding-bottom">
            <h1 class="no-margin-bottom">{{vm.activity.title.narratives[0].text}}</h1>         
        </div>

        <hr class="darkblue no-margin-bottom">

        <sub-navbar 
            tabs='vm.tabs' 
            selected-tab='vm.selectedTab'>
        </sub-navbar>

        <div class="content-offset detailview" ng-show="vm.selectedTab == 'summary'">
    
            <div class="row">
                <div class="col-md-8">
                    <div class="featured-image">
                        <img src="{{vm.templateBaseUrl}}/images/Develop2Build header.jpg">
                    </div>
                    <div class="white">
                        <h2>Description</h2>
                        <p>{{vm.activity.description[0].narratives[0].text}}</p>              
                    </div>
                    <div class="white no-margin-bottom no-padding-bottom">
                        <h2>Location</h2>
                    </div>
                    <div class="map">
                        <activity-geomap map-height="350px" activity="vm.activity"></activity-geomap>
                    </div>
                    <div class="panel lightblue">
                        <p><b>Country:</b> <a ng-repeat="recipient_country in vm.activity.recipient_countries" ui-sref="country({ country_id: recipient_country.country.code })">{{recipient_country.country.name}}{{$last ? '' : ', '}}</a><span ng-if='vm.activity.recipient_countries.length == 0'>No data available yet</span> </p>
                    </div>
                    <div class="white no-margin-bottom no-padding-bottom">
                        <h2>Goals & results</h2>
                    </div>
                    <table class="finance">
                        <thead>
                            <tr>
                                <th>Goal</th>
                                <th>Unit of result</th>
                                <th>Planned result</th>
                                <th>Obtained result</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="transaction in vm.transactionData">
                                <td>
                                    result title
                                </td>
                                <td>
                                    result indicator title
                                </td>
                                <td>
                                    result target
                                </td>
                                <td>
                                    result actual
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <div class="panel with-table lightblue">
                        <h3>Information</h3>
                        <hr>
                        <table class="no-format">
                            <tr>
                                <td width="130">Project number: </td>
                                <td>{{vm.activity.iati_identifier}}</td>
                            </tr>
                            <tr>
                                <td>Last updated:</td>
                                <td>{{vm.activity.last_updated_datetime | date : 'd MMM yyyy'}}</td>
                            </tr>
                            <tr>
                                <td>Contact:</td>
                                <td><a href="mailto:iati@rvo.nl">iati@rvo.nl</a></td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel with-table lightblue">
                        <h3>Project details</h3>
                        <hr>

                        <table class="no-format">
                            <tr>
                                <td>Start date:</td>
                                <td>{{vm.start_actual ? vm.start_actual.iso_date : 'No data available yet' | date : 'dd-MM-yyyy'}}</td>
                            </tr>
                            <tr>
                                <td>End date:</td>
                                <td>{{vm.end_actual ? vm.end_actual.iso_date : 'No data available yet' | date : 'dd-MM-yyyy'}}</td>
                            </tr>
                            <tr>
                                <td width="130">Sectors: </td>
                                <td><a ui-sref="sector({ sector_id: vm.activity.sectors[0].sector.code })">
                                    {{vm.activity.sectors[0].sector.name}}
                                </a><span ng-show='!vm.activity.sectors.length'>No data available yet</span></td>
                            </tr>
                            <tr>
                                <td>Programme:</td>
                                <td>XX</td>
                            </tr>
                            <tr>
                                <td>Total budget: </td>
                                <td><span ng-if='vm.activity.total_budget.length'>{{vm.activity.total_budget | shortcurrency :'€'}}</span>
                                <span ng-if='!vm.activity.total_budget.length'>No data available yet</span></td>
                            </tr>
                            <tr>
                                <td>Budget spent:</td>
                                <td>
                                    <div class="progress small">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="vm.budgetLeft" aria-valuemin="0" aria-valuemax="100" ng-style="vm.progressStyle">
                                            {{vm.budgetLeft}}% spent
                                        <div class="gradient"></div>
                                      </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Funding partners:</td>
                                <td><span ng-if="org.role.code == 1" ng-repeat='org in vm.activity.participating_organisations'>
                                    {{org.narratives[0].text}}{{$last ? '' : ', '}}
                                </span></td>
                            </tr>
                            <tr>
                                <td>Implementing partners:</td>
                                <td><span ng-if="org.role.code == 4" ng-repeat='org in vm.activity.participating_organisations'>
                                    {{org.narratives[0].text}}{{$last ? '' : ', '}}
                                </span></td>
                            </tr>
                            <tr>
                                <td>Status:</td>
                                <td>{{vm.activity.activity_status.name}}</td>
                            </tr>
                            <tr>
                                <td>(Un)tied:</td>
                                <td><span ng-if='vm.activity.default_tied_status.name.length'>
                                    {{vm.activity.default_tied_status.name}}
                                </span>
                                <span ng-if='!vm.activity.default_tied_status.name.length'>
                                    No data available yet
                                </span></td>
                            </tr>
                            <tr>
                                <td>Policy marker:</td>
                                <td>No data available yet</td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel lightblue">
                        <h3>Project updates</h3>
                        <hr>
                        <p>No updates available.</p>
                        <!-- <div class="video">
                            <iframe width="581" height="215" src="https://www.youtube.com/embed/Ygng2822jMQ" frameborder="0" allowfullscreen></iframe>
                        </div> -->
                        <h4>Related documents</h4>
                        <hr>
                            <p ng-show="vm.activity.document_links.length == 0">
                                No documents available.
                            </p>
                            <p ng-repeat="document in vm.activity.document_links">
                                <a target="_blank" href="{{document.url}}">
                                    <i class="glyphicon glyphicon-download-alt"></i>{{document.title}}
                                </a>
                            </p>
                    </div>
                    <div class="panel lightblue with-table share">
                        <h3>Export & share</h3>
                        <hr>
                        <table class="no-format">
                            <tr>
                                <td width="130">Download:</td>
                                <td><a ng-click="vm.download('json')"><i class="fa fa-download"></i>JSON</a></td>
                            </tr>
                            <tr>
                                <td>Share:</td>
                                <td>
                                    <a target="_blank" ng-href="http://twitter.com/home?status={{vm.shareDescription}}"><i class="fa fa-twitter-square"></i></a>
                                    <a target="_blank" ng-href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]={{vm.pageUrl}}"><i class="fa fa-facebook-square"></i></a>
                                    <a target="_blank" ng-href="http://www.linkedin.com/shareArticle?mini=true&url={{vm.pageUrl}}&title={{vm.shareDescription}}"><i class="fa fa-linkedin-square"></i></a>
                                    <a href="mailto:?&subject={{vm.shareDescription}}&body={{vm.pageUrl}}"><i class="fa fa-envelope-square"></i></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- detailed report page -->
        <div class="row detailview" ng-if="vm.selectedTab == 'detailedreport'">

            <div class="col-md-12">

                <div class="panel lightblue with-table">

                    <h3>Dates & description</h3>
                    <hr>

                    <table class="no-format">
                        <tr>
                            <td width="200">RVO Project: </td>
                            <td>{{vm.activity.iati_identifier}}</td>
                        </tr>
                        <tr>
                            <td>Title:</td>
                            <td>{{vm.activity.title.narratives[0].text}}</td>
                        </tr>
                        <tr>
                            <td>Description:</td>
                            <td>{{vm.activity.description[0].narratives[0].text}}</td>
                        </tr>
                        <tr>
                            <td>Description name:</td>
                            <td>{{vm.activity.description[0].type.name}}</td>
                        </tr>
                        <tr>
                            <td>Status:</td>
                            <td>{{vm.activity.activity_status.name}}</td>
                        </tr>
                        <tr>
                            <td>Start date planned:</td>
                            <td>{{vm.activity.start_date_planned ? vm.activity.start_date_planned : 'No data available yet' | date : 'dd-MM-yyyy'}}</td>
                        </tr>
                        <tr>
                            <td>Start date actual:</td>
                            <td>{{vm.activity.start_date_actual ? vm.activity.start_date_actual : 'No data available yet' | date : 'dd-MM-yyyy'}}</td>
                        </tr>
                        <tr>
                            <td>End date planned:</td>
                            <td>{{vm.activity.end_date_planned ? vm.activity.end_date_planned : 'No data available yet' | date : 'dd-MM-yyyy'}}</td>
                        </tr>
                        <tr>
                            <td>End date actual:</td>
                            <td>{{vm.activity.end_date_actual ? vm.activity.end_date_actual : 'No data available yet' | date : 'dd-MM-yyyy'}}</td>
                        </tr>
                    </table>
                </div>

                <div class="panel lightblue with-table">

                    <h3>Related activities</h3>
                    <hr>

                    <table class="no-format">
                        <tr>
                            <td width="200">Related activity:</td>
                            <td>XX</td>
                        </tr>
                        <tr>
                            <td>Related activity:</td>
                            <td>XX</td>
                        </tr>
                        <tr>
                            <td>Related activity:</td>
                            <td>XX</td>
                        </tr>
                        <tr>
                            <td>Related IATI activity:</td>
                            <td>XX</td>
                        </tr>
                    </table>
                </div>

                <div class="panel lightblue with-table">

                    <h3>Related organisations</h3>

                    <table class="finance no-blue" ng-if="vm.activity.participating_organisations">
                        <thead>
                            <tr>
                                <th>Participating org.</th>
                                <th>Participating org. role</th>
                                <th>Participating org. ref.</th>
                                <th>Participating org. type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="org in vm.activity.participating_organisations">
                                <td>
                                    {{org.narratives[0].text}}
                                </td>
                                <td>
                                    {{org.role.name}}
                                    <span ng-if="!org.role.name">-</span>
                                </td>
                                <td>
                                    {{org.ref}}
                                    <span ng-if="!org.ref">-</span>
                                </td>
                                <td>
                                    {{org.type.name}}
                                    <span ng-if="!org.type.name">-</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-if="!vm.activity.participating_organisations">
                        <hr>
                        <p style="padding-left:15px;padding-bottom:10px;">No data available yet</p>
                    </div>
                </div>

                <div class="panel lightblue with-table">

                    <h3>Related countries</h3>

                    <table class="finance no-blue" ng-if="vm.activity.recipient_countries.length != 0">
                        <thead>
                            <tr>
                                <th>Country</th>
                                <th>Region</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="country in vm.activity.recipient_countries">
                                <td>
                                    {{country.country.name}}
                                </td>
                                <td>
                                    {{country.region}}
                                    <span ng-if="!country.region">-</span>
                                </td>
                                <td>
                                    {{country.lat}}
                                    <span ng-if="!country.lat">-</span>
                                </td>
                                <td>
                                    {{country.lon}}
                                    <span ng-if="!country.lon">-</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div ng-if="vm.activity.recipient_countries.length == 0">
                        <hr>
                        <p style="padding-left:15px;padding-bottom:10px;">No data available yet</p>
                    </div>

                </div>

                <div class="panel lightblue with-table">

                    <h3>Related sectors</h3>
                    
                    <table class="finance no-blue" ng-if="vm.activity.sectors.length != 0">
                        <thead>
                            <tr>
                                <th>Sector</th>
                                <th>Policy marker</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, sector) in vm.activity.sectors">
                                <td>
                                    {{sector.sector.name}}
                                </td>
                                <td>
                                    {{sector.marker}}
                                    <span ng-if="!sector.marker">-</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div ng-if="vm.activity.sectors.length == 0">
                        <hr>
                        <p style="padding-left:15px;padding-bottom:10px;">No data available yet</p>
                    </div>

                </div>

           
                <div class="panel lightblue with-table">

                    <h3>Transactions</h3>

                    <table class="finance no-blue" ng-if="vm.transactionData.length != 0">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Provider</th>
                                <th>Provider ref.</th>
                                <th>Provider act. id</th>
                                <th>Receiver</th>
                                <th>Receiver ref.</th>
                                <th>Receiver act. id</th>
                                <th>Value</th>
                                <th>Date</th>
                                <th>Value date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="transaction in vm.transactionData">
                                <td>
                                    {{transaction.transaction_type.name}}
                                </td>
                                <td>
                                    {{transaction.provider_organisation.narratives[0].text}}
                                    <span ng-if="!transaction.provider_organisation">-</span>
                                </td>
                                <td>
                                    {{transaction.provider_organisation.ref}}
                                    <span ng-if="!transaction.provider_organisation.ref">-</span>
                                </td>
                                <td>
                                    {{transaction.provider_organisation.receiver_activity_id}}
                                    <span ng-if="!transaction.provider_organisation.receiver_activity_id">-</span>
                                </td>
                                <td>
                                    {{transaction.receiver_organisation.narratives[0].text}}
                                    <span ng-if="!transaction.receiver_organisation">-</span>
                                </td>
                                <td>
                                    {{transaction.receiver_organisation.ref}}
                                    <span ng-if="!transaction.receiver_organisation.ref">-</span>
                                </td>
                                <td>
                                    {{transaction.receiver_organisation.receiver_activity_id}}
                                    <span ng-if="!transaction.receiver_organisation.receiver_activity_id">-</span>
                                </td>
                                <td>{{transaction.value | shortcurrency :'€'}}</td>
                                <td>{{transaction.transaction_date | date : 'dd-MM-yyyy'}}</td>
                                <td>{{transaction.value_date | date : 'dd-MM-yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-if="vm.transactionData.length == 0">
                        <hr>
                        <p style="padding-left:15px;">No data available yet</p>
                        <hr>
                    </div>

                     <table class="no-format">
                        <tr>
                            <td width="200">Budget spent:</td>
                            <td>
                                <div class="progress small">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="vm.budgetLeft" aria-valuemin="0" aria-valuemax="100" ng-style="vm.progressStyle">
                                     {{vm.budgetLeft}}% spent
                                    <div class="gradient"></div>
                                  </div>
                                </div>
                            </td>
                        </tr>
                    </table>

                </div>

                <div class="panel lightblue with-table">

                    <h3>Results</h3>

                    <table class="finance no-blue" ng-if="vm.activity.results.length != 0">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Indicator</th>
                                <th>Indicator name</th>
                                <th>Target</th>
                                <th>Period start</th>
                                <th>Period end</th>
                                <th>Baseline</th>
                                <th>Actual</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="result in vm.activity.results">
                                <td>
                                    {{result.name}}
                                </td>
                                <td>
                                    {{result.description}}
                                    <span ng-if="!result.description">-</span>
                                </td>
                                <td>
                                    {{result.description}}
                                    <span ng-if="!result.description">-</span>
                                </td>
                                <td>
                                    {{result.description}}
                                    <span ng-if="!result.description">-</span>
                                </td>
                                <td>
                                    {{result.description}}
                                    <span ng-if="!result.description">-</span>
                                </td>
                                <td>
                                    {{result.description}}
                                    <span ng-if="!result.description">-</span>
                                </td>
                                <td>
                                    {{result.description}}
                                    <span ng-if="!result.description">-</span>
                                </td>
                                <td>
                                    {{result.description}}
                                    <span ng-if="!result.description">-</span>
                                </td>
                                <td>
                                    {{result.description}}
                                    <span ng-if="!result.description">-</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-if="vm.activity.results.length == 0">
                        <hr>
                        <p style="padding-left:15px;padding-bottom:10px;">No data available yet</p>
                    </div>
                </div>


                        <!-- <tr>
                            <td>IATI Project #:</td>
                            <td>XX</td>
                        </tr>
                        <tr>
                            <td>Description type:</td>
                            <td>XX</td>
                        </tr>
                        <tr>
                            <td>Status code:</td>
                            <td>XX</td>
                        </tr>
                        
                        <tr>
                            <td>Default tied:</td>
                            <td>XX</td>
                        </tr>
                        <tr>
                            <td>Default finance:</td>
                            <td>XX</td>
                        </tr>
                        <tr>
                            <td>Participating org.:</td>
                            <td>XX</td>
                        </tr>
                        <tr>
                            <td>Country code:</td>
                            <td>XX</td>
                        </tr>
                        <tr>
                            <td>Region code:</td>
                            <td>XX</td>
                        </tr>
                        <tr>
                            <td>Sector code:</td>
                            <td>XX</td>
                        </tr>
                        <tr>
                            <td>Policy marker:</td>
                            <td>XX</td>
                        </tr>
                        <tr>
                            <td>Budget type:</td>
                            <td>XX</td>
                        </tr>
                        <tr>
                            <td>Transaction code:</td>
                            <td>XX</td>
                        </tr>
                        <tr>
                            <td>Result code:</td>
                            <td>XX</td>
                        </tr>
                        <tr>
                            <td>Indicator code:</td>
                            <td>XX</td>
                        </tr>
                    </table> -->

                <!-- <div class="row">
                    <div class="col-sm-4">
                        IATI Identifier
                    </div>
                    <div class="col-sm-8">
                        {{vm.activity.iati_identifier}}
                    </div>
                </div>
                </div>


                <div class="panel blue no-margin-bottom">
                    Description
                </div>
                <div class="panel xlightblue">
                    <p>{{vm.activity.descriptions[0].description}}</p>
                </div>

                <div class="wrap-alternate">
                    <div class="panel no-margin-bottom">
                        <div class="row">
                            <div class="col-sm-4">
                                Project scope
                            </div>
                            <div class="col-sm-8">
                                <span ng-if='vm.activity.activity_scope.name.length'>{{vm.activity.activity_scope.name}}</span>
                                <span ng-if='!vm.activity.activity_scope.name.length'>No data available yet</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel no-margin-bottom">
                        <div class="row">
                            <div class="col-sm-4">
                                Start date planned
                            </div>
                            <div class="col-sm-8">
                                {{vm.activity.start_planned.length ? vm.activity.start_planned : 'No data available yet' | date : 'dd MMM yyyy'}}
                            </div>
                        </div>
                    </div>
                    <div class="panel no-margin-bottom">
                        <div class="row">
                            <div class="col-sm-4">
                                Start date actual
                            </div>
                            <div class="col-sm-8">
                                {{vm.activity.start_actual.length ? vm.activity.start_actual : 'No data available yet' | date : 'dd MMM yyyy'}}
                            </div>
                        </div>
                    </div>
                    <div class="panel no-margin-bottom">
                        <div class="row">
                            <div class="col-sm-4">
                                End date planned
                            </div>
                            <div class="col-sm-8">
                                {{vm.activity.end_planned.length ? vm.activity.end_planned : 'No data available yet' | date : 'dd MMM yyyy'}}
                            </div>
                        </div>
                    </div>
                    <div class="panel no-margin-bottom">
                        <div class="row">
                            <div class="col-sm-4">
                                End date actual
                            </div>
                            <div class="col-sm-8">
                                {{vm.activity.end_actual.length ? vm.activity.end_actual : 'No data available yet' | date : 'dd MMM yyyy'}}
                            </div>
                        </div>
                    </div>
                    <div class="panel no-margin-bottom">
                        <div class="row">
                            <div class="col-sm-4">
                                Reporting organisation
                            </div>
                            <div class="col-sm-8">
                                {{vm.activity.reporting_organisation.name}}
                            </div>
                        </div>
                    </div>
                    <div class="panel no-margin-bottom">
                        <div class="row">
                            <div class="col-sm-4">
                                Participating organisations
                            </div>
                            <div class="col-sm-8">
                                <span ng-repeat='org in vm.activity.participating_organisations'>{{org.name}},</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel no-margin-bottom">
                        <div class="row">
                            <div class="col-sm-4">
                                Country
                            </div>
                            <div class="col-sm-8">
                                <a ng-repeat="country in vm.activity.countries" ui-sref="country({ country_id: country.code })">{{country.name}}</a><span ng-if='vm.activity.countries.length == 0'>No data available yet</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel no-margin-bottom">
                        <div class="row">
                            <div class="col-sm-4">
                                Region
                            </div>
                            <div class="col-sm-8">
                                <a ng-repeat="region in vm.activity.regions" ui-sref="region({ region_id: region.code })">
                                    {{region.name}}
                                </a>
                                <span ng-if='vm.activity.regions.length == 0'>No data available yet</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel no-margin-bottom">
                        <div class="row">
                            <div class="col-sm-4">
                                Locations
                            </div>
                            <div class="col-sm-8">
                                <span ng-repeat="location in vm.activity.locations" >
                                    {{location.name}},
                                </span>
                                <span ng-if='vm.activity.locations.length == 0'>No data available yet</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel no-margin-bottom">
                        <div class="row">
                            <div class="col-sm-4">
                                Sectors
                            </div>
                            <div class="col-sm-8">
                                <a ui-sref="sector({'sector_id': sector.code})" ng-repeat="(key, sector) in vm.activity.sectors">{{ sector.name }}, </a><span ng-show='!vm.activity.sectors.length'>No data available yet</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel no-margin-bottom">
                        <div class="row">
                            <div class="col-sm-4">
                                Sector code
                            </div>
                            <div class="col-sm-8">
                                <a ui-sref="sector({ sector_id: vm.activity.sectors[0].code })">{{vm.activity.sectors[0].code}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel no-margin-bottom">
                        <div class="row">
                            <div class="col-sm-4">
                                Other identifiers
                            </div>
                            <div class="col-sm-8">
                                <a ng-repeat="other_identifier in vm.activity.other_identifier">
                                    {{other_identifier.name}}
                                </a>
                                <span ng-if='vm.activity.related_activities.length == 0'>No data available yet</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="row">
                            <div class="col-sm-4">
                                Related activities
                            </div>
                            <div class="col-sm-8">
                                <a ng-repeat="act in vm.activity.related_activities">
                                    {{act.id}}
                                </a>
                                <span ng-if='vm.activity.related_activities.length == 0'>No data available yet</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel blue no-margin-bottom">
                    Transaction
                </div>
                <div class="wrap-alternate">
                    <div class="panel no-margin-bottom">
                        <div class="row">
                            <div class="col-sm-4">
                                Finance type
                            </div>
                            <div class="col-sm-8">
                                <span ng-if='vm.activity.default_finance_type.name.length'>{{vm.activity.default_finance_type.name}}</span>
                                <span ng-if='!vm.activity.default_finance_type.name.length'>No data available yet</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel no-margin-bottom">
                        <div class="row">
                            <div class="col-sm-4">
                                Estimated budget
                            </div>
                            <div class="col-sm-8">
                                <span ng-if='vm.activity.total_budget.length'>{{vm.activity.total_budget | shortcurrency :'€'}}</span>
                                <span ng-if='!vm.activity.total_budget.length'>No data available yet</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel no-margin-bottom">
                        <div class="row">
                            <div class="col-sm-4">
                                Capital spent
                            </div>
                            <div class="col-sm-8">
                                <span ng-if='vm.activity.activity_scope.name.length'>{{vm.activity.capital_spend.percentage}}</span>
                                <span ng-if='!vm.activity.activity_scope.name.length'>No data available yet</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel no-margin-bottom">
                        <div class="row">
                            <div class="col-sm-4">
                                Flow type
                            </div>
                            <div class="col-sm-8">
                                <span ng-if='vm.activity.default_flow_type.name.length'>{{vm.activity.default_flow_type.name}}</span>
                                <span ng-if='!vm.activity.default_flow_type.name.length'>No data available yet</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel no-margin-bottom">
                        <div class="row">
                            <div class="col-sm-4">
                                Tied status
                            </div>
                            <div class="col-sm-8">
                                <span ng-if='vm.activity.default_tied_status.name.length'>{{vm.activity.default_tied_status.name}}</span>
                                <span ng-if='!vm.activity.default_tied_status.name.length'>No data available yet</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel no-margin-bottom">
                        <div class="row">
                            <div class="col-sm-4">
                                Collaboration type
                            </div>
                            <div class="col-sm-8">
                                <span ng-if='vm.activity.collaboration_type.name.length'>{{vm.activity.collaboration_type.name}}</span>
                                <span ng-if='!vm.activity.collaboration_type.name.length'>No data available yet</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel no-margin-bottom">
                        <div class="row">
                            <div class="col-sm-4">
                                Aid type
                            </div>
                            <div class="col-sm-8">
                                <span ng-if='vm.activity.default_aid_type.name.length'>{{vm.activity.default_aid_type.name}}</span>
                                <span ng-if='!vm.activity.default_aid_type.name.length'>No data available yet</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel no-margin-bottom">
                        <div class="row">
                            <div class="col-sm-4">
                                Websites
                            </div>
                            <div class="col-sm-8">
                                <a ng-repeat="website in vm.activity.websites">
                                    {{website.name}}
                                </a>
                                <span ng-if='vm.activity.websites.length == 0'>No data available yet</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel no-margin-bottom">
                        <div class="row">
                            <div class="col-sm-4">
                                Linked data URI
                            </div>
                            <div class="col-sm-8">
                                <span ng-if='vm.activity.linked_data_uri.length'>{{vm.activity.linked_data_uri}}</span>
                                <span ng-if='!vm.activity.linked_data_uri.length'>No data available yet</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel no-margin-bottom">
                        <div class="row">
                            <div class="col-sm-4">
                                Hierarchy
                            </div>
                            <div class="col-sm-8">
                                <span ng-if='vm.activity.hierarchy'>{{vm.activity.hierarchy}}</span>
                                <span ng-if='!vm.activity.hierarchy'>No data available yet</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel no-margin-bottom">
                        <div class="row">
                            <div class="col-sm-4">
                                Results
                            </div>
                            <div class="col-sm-8">
                                <a ng-repeat="result in vm.activity.results">
                                    {{result.name}}
                                </a>
                                <span ng-if='vm.activity.results.length == 0'>No data available yet</span>
                            </div>
                        </div>
                    </div>
                </div> -->

            </div>
            <!-- <div class="col-md-4">

                <div class="panel lightblue with-table share">
                    <h3>Export & share</h3>
                    <hr>
                    <table class="no-format">
                        <tr>
                            <td width="130">Download:</td>
                            <td><a ng-click="vm.download('json')"><i class="fa fa-download"></i>JSON</a></td>
                        </tr>
                        <tr>
                            <td>Share:</td>
                            <td>
                                <a target="_blank" ng-href="http://twitter.com/home?status={{vm.shareDescription}}"><i class="fa fa-twitter-square"></i></a>
                                <a target="_blank" ng-href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]={{vm.pageUrl}}"><i class="fa fa-facebook-square"></i></a>
                                <a target="_blank" ng-href="http://www.linkedin.com/shareArticle?mini=true&url={{vm.pageUrl}}&title={{vm.shareDescription}}"><i class="fa fa-linkedin-square"></i></a>
                                <a href=""><i class="fa fa-envelope-square"></i></a>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div> -->

    </div>
</div>


