<div id="main-content" ng-if="!vm.activity && !vm.loading">

    <div class="container extra">

        <div class="white no-margin-bottom">
            <h1>Not found</h1>
        </div>

        <h4>Please contact the administrators if you feel this page is shown in error.</h4>
    </div>

</div>

<div id="main-content" class="activity" ng-if="vm.activity">

    <div class="container extra">

        <div class="detailview white no-margin-bottom no-padding-bottom">
            <div ng-repeat="recipient_country in vm.activity.recipient_countries"  style="display:inline-block;margin: 10px 10px 0 0;">
                <h4>
                    <span class="flag-icon flag-icon-{{recipient_country.country.code | lowercase }} detail-flag"></span>
                    {{recipient_country.country.name}}
                </h4>
            </div>
            <h1 style="margin-top:0" class="no-margin-bottom">{{vm.activity.title.narratives[0].text}}</h1>         
        </div>

        <hr class="darkblue no-margin-bottom">

        <sub-navbar 
            tabs='vm.tabs' 
            selected-tab='vm.selectedTab'>
        </sub-navbar>

        <div class="content-offset detailview" ng-show="vm.selectedTab == 'summary'">
    
            <div class="row">
                <div class="col-md-8">
                    <div class="featured-image" ng-if="vm.featuredImage">
                        <img ng-src="{{vm.featuredImage}}">
                    </div>
                    <div class="white">
                        <h3 ng-if="vm.featuredImage">Description</h3>
                        <h3 ng-if="!vm.featuredImage" class="no-margin-top">Description</h3>
                        <p ng-bind-html="vm.description"></p>              
                    </div>
                    <div class="white no-margin-bottom no-padding-bottom">
                        <h3>Location</h3>
                    </div>
                    <div class="map">
                        <activity-geomap map-height="350px" activity="vm.activity"></activity-geomap>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel with-table lightblue">
                        <h3>Information</h3>
                        <hr>
                        <table class="no-format">
                            <tr>
                                <td width="130">Project number: </td>
                                <td>{{vm.activity.iati_identifier}}</td>
                            </tr>
                            <tr>
                                <td>Last updated:</td>
                                <td>{{vm.activity.last_updated_datetime | date : 'd MMM yyyy'}}</td>
                            </tr>
                            <tr>
                                <td>Contact:</td>
                                <td><a href="mailto:iati@rvo.nl">iati@rvo.nl</a></td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel with-table lightblue">
                        <h3>Project details</h3>
                        <hr>

                        <table class="no-format">
                            <tr>
                                <td>Start date:</td>
                                <td>{{vm.start_date | date : 'dd-MM-yyyy'}}</td>
                            </tr>
                            <tr>
                                <td>End date:</td>
                                <td>{{vm.end_date | date : 'dd-MM-yyyy'}}</td>
                            </tr>
                            <tr class="panel lightblue">
                                <td>Country:</td>
                                <td><a ng-repeat="recipient_country in vm.activity.recipient_countries" ui-sref="country({ country_id: recipient_country.country.code, tab: 'summary' })">{{recipient_country.country.name}}{{$last ? '' : ', '}}</a><span ng-if='vm.activity.recipient_countries.length == 0'>Data to be added</span> </td>
                            </tr>
                            <tr>
                                <td width="130">Sectors: </td>
                                <td><a ui-sref="sector({ sector_id: vm.activity.sectors[0].sector.code, tab: 'summary' })">
                                    {{vm.activity.sectors[0].sector.name}}
                                </a><span ng-show='!vm.activity.sectors.length'>Data to be added</span></td>
                            </tr>
                            <tr>
                                <td>Programme:</td>
                                <td><a ui-sref="programme({ programme_id: vm.activity.related_activities[0].ref, tab: 'summary' })">
                                    {{vm.activity.related_activities[0].name}}
                                </a><span ng-if="!vm.activity.related_activities[0].ref">Data to be added</span></td>
                            </tr>
                            <tr>
                                <td>Total budget: </td>
                                <td><span ng-if='vm.budget'>{{vm.budget | shortcurrency :'€'}}</span>
                                <span ng-if='!vm.budget'>Data to be added</span></td>
                            </tr>
                            <tr>
                                <td>Budget spent:</td>
                                <td>
                                    <div class="progress small">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="vm.budgetLeft" aria-valuemin="0" aria-valuemax="100" ng-style="vm.progressStyle">
                                            <span class="spent">{{vm.budgetLeft}}% spent</span>
                                        <div class="gradient"></div>
                                      </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Funding partners:</td>
                                <td>
                                    <a class="show-me" ng-if="org.role.code == 1" ui-sref="organisation({ organisation_id: org.narratives[0].text, tab: 'summary' })" ng-repeat='org in vm.activity.participating_organisations'>
                                    {{org.narratives[0].text}}{{$last ? '' : ', '}}
                                    </a>
                                    <span class="hide-me">Data to be added</span></td>
                            </tr>
                            <tr>
                                <td>Project partners:</td>
                                <td>
                                    <a class="show-me" ng-if="org.role.code == 2 || org.role.code == 4" ui-sref="organisation({ organisation_id: org.narratives[0].text, tab: 'summary' })" ng-repeat='org in vm.activity.participating_organisations'>
                                    {{org.narratives[0].text}}{{$last ? '' : ', '}}
                                    </a>
                                    <span class="hide-me">Data to be added</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Status:</td>
                                <td>{{vm.activity.activity_status.name}}</td>
                            </tr>
                            <tr>
                                <td>(Un)tied:</td>
                                <td><span ng-if='vm.activity.default_tied_status.name.length'>
                                    {{vm.activity.default_tied_status.name}}
                                </span>
                                <span ng-if='!vm.activity.default_tied_status.name.length'>
                                    Data to be added
                                </span></td>
                            </tr>
                            <tr>
                                <td>Policy marker(s):</td>
                                <td>
                                    <span ng-repeat="pm in vm.activity.policy_markers" ng-if="pm.significance.code != 0">{{pm.code.name}}</span>
                                    <span ng-if='!vm.activity.policy_markers.length'>Data to be added</span>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="panel lightblue with-table share">
                        <h3>Export &amp; share</h3>
                        <hr>
                        <table class="no-format">
                            <tr>
                                <td width="130">Download:</td>
                                <td>
                                    <a ng-click="vm.download('json')"><i class="fa fa-download"></i>JSON</a>
                                    &nbsp;&nbsp;
                                    <a ng-click="vm.download('csv')"><i class="fa fa-download"></i>CSV</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Share:</td>
                                <td>
                                    <share-links></share-links>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- detailed report page -->
        <div class="row detailview" ng-if="vm.selectedTab == 'detailedreport'">

            <div class="col-md-12">

                <div class="panel lightblue with-table">

                    <h3>Dates & description</h3>
                    <hr>
                    <table class="no-format">
                        <tr>
                            <td width="200">RVO Project: </td>
                            <td>{{vm.activity.iati_identifier}}</td>
                        </tr>
                        <tr>
                            <td>Title:</td>
                            <td>{{vm.activity.title.narratives[0].text}}</td>
                        </tr>
                        <tr>
                            <td>Description:</td>
                            <td>{{vm.activity.descriptions[0].narratives[0].text}}</td>
                        </tr>
                        <tr>
                            <td>Description type:</td>
                            <td>{{vm.activity.descriptions[0].type.name}}</td>
                        </tr>
                        <tr>
                            <td>Status:</td>
                            <td>{{vm.activity.activity_status.name}}</td>
                        </tr>
                        <tr>
                            <td>Start date planned:</td>
                            <td>{{vm.start_planned ? vm.start_planned : 'Data to be added' | date : 'dd-MM-yyyy'}}</td>
                        </tr>
                        <tr>
                            <td>Start date actual:</td>
                            <td>{{vm.start_actual ? vm.start_actual : 'Data to be added' | date : 'dd-MM-yyyy'}}</td>
                        </tr>
                        <tr>
                            <td>End date planned:</td>
                            <td>{{vm.end_planned ? vm.end_planned : 'Data to be added' | date : 'dd-MM-yyyy'}}</td>
                        </tr>
                        <tr>
                            <td>End date actual:</td>
                            <td>{{vm.end_actual ? vm.end_actual : 'Data to be added' | date : 'dd-MM-yyyy'}}</td>
                        </tr>
                    </table>
                </div>

                <div class="panel lightblue with-table">

                    <h3>Related activities</h3>
                    <div class="table-responsive">
                        <table class="finance no-blue" ng-if="vm.activity.related_activities">
                            <thead>
                                <tr>
                                    <th>Related activity name</th>
                                    <th>Related activity ref</th>
                                    <th>Related activity type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="related_activity in vm.activity.related_activities">
                                    <td>
                                        {{vm.activity.related_activities[0].name}}<span ng-if="!vm.activity.related_activities[0].name">Data to be added</span>
                                    </td>
                                    <td>
                                        {{vm.activity.related_activities[0].ref}}<span ng-if="!vm.activity.related_activities[0].ref">Data to be added</span>
                                    </td>
                                    <td>
                                        {{vm.activity.related_activities[0].type.name}}<span ng-if="!vm.activity.related_activities[0].type.name">Data to be added</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-if="!vm.activity.related_activities">
                        <hr>
                        <p style="padding-left:15px;padding-bottom:10px;">Data to be added</p>
                    </div>
                </div>


                <div class="panel lightblue with-table">

                    <h3>Participating organisations</h3>
                    <div class="table-responsive">
                        <table class="finance no-blue" ng-if="vm.activity.participating_organisations">
                            <thead>
                                <tr>
                                    <th>Organisation name</th>
                                    <th>Role</th>
                                    <th>Ref</th>
                                    <th>Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="org in vm.activity.participating_organisations">
                                    <td>
                                        {{org.narratives[0].text}}
                                    </td>
                                    <td>
                                        {{org.role.name}}
                                        <span ng-if="!org.role.name">-</span>
                                    </td>
                                    <td>
                                        {{org.ref}}
                                        <span ng-if="!org.ref">-</span>
                                    </td>
                                    <td>
                                        {{org.type.name}}
                                        <span ng-if="!org.type.name">-</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-if="!vm.activity.participating_organisations">
                        <hr>
                        <p style="padding-left:15px;padding-bottom:10px;">Data to be added</p>
                    </div>
                </div>

                <div class="panel lightblue with-table">

                    <h3>Recipient countries</h3>
                    <div class="table-responsive">
                        <table class="finance no-blue" ng-if="vm.activity.recipient_countries.length != 0">
                            <thead>
                                <tr>
                                    <th>Country</th>
                                    <th width="30%">Country code (iso2)</th>
                                    <th width="30%">Percentage</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="country in vm.activity.recipient_countries">
                                    <td>
                                        {{country.country.name}}
                                    </td>
                                    <td>
                                        {{country.country.code}}
                                    </td>
                                    <td>
                                        {{country.percentage}}%
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-if="vm.activity.recipient_countries.length == 0">
                        <hr>
                        <p style="padding-left:15px;padding-bottom:10px;">Data to be added</p>
                    </div>

                </div>

                <div class="panel lightblue with-table">

                    <h3>Geographical locations</h3>
                    <div class="table-responsive">
                        <table class="finance no-blue" ng-if="vm.activity.locations.length != 0">
                            <thead>
                                <tr><th>Ref</th>
                                    <th>Latitude</th>
                                    <th>Longitude</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="location in vm.activity.locations">
                                    <td>
                                        {{location.ref}}
                                    </td>
                                    <td>
                                        {{location.point.pos.latitude}}
                                    </td>
                                    <td>
                                        {{location.point.pos.longitude}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-if="vm.activity.locations.length == 0">
                        <hr>
                        <p style="padding-left:15px;padding-bottom:10px;">Data to be added</p>
                    </div>

                </div>

                <div class="panel lightblue with-table">

                    <h3>Related sectors</h3>
                    
                    <table class="finance no-blue" ng-if="vm.activity.sectors.length != 0">
                        <thead>
                            <tr>
                                <th>Sector</th>
                                <th width="30%">Code</th>
                                <th width="30%">Percentage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, sector) in vm.activity.sectors">
                                <td>
                                    {{sector.sector.name}}
                                </td>
                                <td>
                                    {{sector.sector.code}}
                                </td>
                                <td>
                                    {{sector.percentage}}%
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div ng-if="vm.activity.sectors.length == 0">
                        <hr>
                        <p style="padding-left:15px;padding-bottom:10px;">Data to be added</p>
                    </div>

                </div>

                <div class="panel lightblue with-table">
                    <h3>Policy markers</h3>
                    <table class="finance no-blue">
                        <thead>
                            <tr>
                                <th>Marker</th>
                                <th width="20%" class="text-center">Principal objective</th>
                                <th width="20%" class="text-center">Significant objective</th>
                                <th width="20%" class="text-center">Not targeted</th>
                            </tr>
                        </thead>
                         <tbody>
                            <tr ng-repeat="marker in vm.activity.policy_markers">
                                <td>{{marker.code.name}}</td>
                                <td class="text-center">
                                    <span ng-if="marker.significance.code == 2"><i class="fa fa-check"></i></span>
                                </td>
                                <td class="text-center">
                                    <span ng-if="marker.significance.code == 1"><i class="fa fa-check"></i></span>
                                </td>
                                <td class="text-center">
                                    <span ng-if="marker.significance.code == 0"><i class="fa fa-check"></i></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div ng-if="vm.activity.policy_markers.length == 0">
                        <hr>
                        <p style="padding-left:15px;padding-bottom:10px;">Data to be added</p>
                    </div>
                </div>

           
                <div class="panel lightblue with-table">

                    <h3>Transactions</h3>
                    <div class="table-responsive">
                        <table class="finance no-blue" ng-if="vm.transactionData.length != 0">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Provider</th>
                                    <th>Provider ref.</th>
                                    <th>Provider act. id</th>
                                    <th>Receiver</th>
                                    <th>Receiver ref.</th>
                                    <th>Receiver act. id</th>
                                    <th>Value</th>
                                    <th>Date</th>
                                    <th>Value date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="transaction in vm.transactionData">
                                    <td>
                                        {{transaction.transaction_type.name}}
                                    </td>
                                    <td>
                                        {{transaction.provider_organisation.narratives[0].text}}
                                        <span ng-if="!transaction.provider_organisation">-</span>
                                    </td>
                                    <td>
                                        {{transaction.provider_organisation.ref}}
                                        <span ng-if="!transaction.provider_organisation.ref">-</span>
                                    </td>
                                    <td>
                                        {{transaction.provider_organisation.receiver_activity_id}}
                                        <span ng-if="!transaction.provider_organisation.receiver_activity_id">-</span>
                                    </td>
                                    <td>
                                        {{transaction.receiver_organisation.narratives[0].text}}
                                        <span ng-if="!transaction.receiver_organisation">-</span>
                                    </td>
                                    <td>
                                        {{transaction.receiver_organisation.ref}}
                                        <span ng-if="!transaction.receiver_organisation.ref">-</span>
                                    </td>
                                    <td>
                                        {{transaction.receiver_organisation.receiver_activity_id}}
                                        <span ng-if="!transaction.receiver_organisation.receiver_activity_id">-</span>
                                    </td>
                                    <td>{{transaction.value | shortcurrency :'€'}}</td>
                                    <td>{{transaction.transaction_date | date : 'dd-MM-yyyy'}}</td>
                                    <td>{{transaction.value_date | date : 'dd-MM-yyyy'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-if="vm.transactionData.length == 0">
                        <hr>
                        <p style="padding-left:15px;">Data to be added</p>
                        <hr>
                    </div>

                    <table class="no-format">
                        <tr>
                            <td>
                                <div class="progress small">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="vm.budgetLeft" aria-valuemin="0" aria-valuemax="100" ng-style="vm.progressStyle">
                                        <span class="spent">{{vm.budgetLeft}}% of budget spent</span>
                                    <div class="gradient"></div>
                                  </div>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <hr style="margin-top:5px;">

                    <table class="no-format">
                        <tr>
                            <td>
                                <nvd3 
                                    options="vm.transactionChartOptions" 
                                    data="vm.transactionChartData" 
                                    class="with-3d-shadow with-transitions"></nvd3>
                            </td>
                        </tr>
                    </table>

                </div>

            </div>
        </div>

        <div class="goalsresultspage" ng-if="vm.selectedTab == 'results'">

            <div class="panel lightblue no-margin-bottom with-table">
                <div class="table-responsive" ng-if="vm.activity.results.length != 0">
                    <table class="finance no-blue no-margin" ng-if="vm.activity.results.length != 0">
                        <thead>
                            <tr>
                                <th width="100">Result type</th>
                                <th>Result indicator title</th>
                                <th>Result indictor description</th>
                                <th width="140">Baseline value (year)</th>
                                <th width="140">Actual value (year)</th>
                                <th width="140">Target value (year)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="result in vm.activity.results">
                                <td>{{result.type.name ? result.type.name : 'Data to be added'}}</td>
                                <td>{{result.indicator[0].title.narratives[0].text ? result.indicator[0].title.narratives[0].text : 'Data to be added'}}</td>
                                <td>{{result.indicator[0].description ? result.indicator[0].description.narratives[0].text : 'Data to be added'}}</td>
                                <td>{{result.indicator[0].baseline.value ? result.indicator[0].baseline.value : 'Data to be added'}} ({{result.indicator[0].baseline.year ? result.indicator[0].baseline.year : 'n/a'}})</td>
                                <td ng-if="result.indicator[0].period[0].actual.value">{{result.indicator[0].period[0].actual.value | number : 0}}
                                    ({{result.indicator[0].period[0].period_end ? result.indicator[0].period[0].period_end : 'n/a' | date : 'yyyy'}})</td>
                                <td ng-if="!result.indicator[0].period[0].actual.value">Data to be added</td>
                                <td ng-if="result.indicator[0].period[0].target.value">{{result.indicator[0].period[0].target.value | number : 0}}
                                    ({{result.indicator[0].period[0].period_end ? result.indicator[0].period[0].period_end : 'n/a' | date : 'yyyy'}})</td>
                                <td ng-if="!result.indicator[0].period[0].target.value">Data to be added</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>         
            <div class="panel lightblue" ng-if="vm.activity.results.length == 0">
                Data to be added
            </div>
        </div>


        <div class="mediapage" ng-if="vm.selectedTab == 'mediapage'">
            <div class="row">

                <div class="col-md-12">
                    <div class="panel lightblue">
                        <h3>Related videos</h3>
                        <hr>
                        <div class="row" ng-if="vm.relatedYoutube.length != 0 || vm.relatedVimeo.length != 0">
                            <div class="col-md-6 item" ng-repeat="video in vm.relatedVimeo">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" ng-src="{{video.url}}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-md-6 item" ng-repeat="video in vm.relatedYoutube">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" width="560" height="315" ng-src="{{video.url}}" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                        <p ng-if="vm.relatedYoutube.length == 0 && vm.relatedVimeo.length == 0">Data to be added</p>
                    </div>
                    <div class="panel lightblue images">
                        <h3>Related images</h3>
                        <hr>
                        <div class="row" ng-if="vm.relatedImages.length != 0">
                            <div class="col-xs-6 col-sm-4 col-md-3 item" ng-repeat="img in vm.relatedImages">
                                <a href="{{img.url}}" target="_blank"><img ng-src="{{img.url}}" alt="{{img.title}}" title="{{img.title}}"></a>
                            </div>
                        </div>
                        <p ng-if="vm.relatedImages.length == 0">Data to be added</p>
                    </div>
                    <div class="panel lightblue with-table">
                        <h3>Related documents</h3>
                        <div class="table-responsive" ng-if="vm.relatedDocuments.length != 0">
                            <table class="finance no-blue">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <!-- <th>Categories</th> -->
                                        <th>Language</th>
                                        <th width="110">Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="document in vm.relatedDocuments">
                                        <td>
                                            <a href="{{document.url}}" target="_blank">{{document.title}}</a>
                                        </td>
                                        <!-- <td>
                                             <span ng-repeat='cat in document.categories'>{{cat.name}}{{$last ? '' : '; '}}</span>
                                        </td> -->
                                        <td>
                                            {{document.language}}
                                        </td>
                                        <td>
                                            {{document.filetype}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-if="vm.relatedDocuments.length == 0">
                            <hr>
                            <p style="padding-left:15px;padding-bottom:10px;">Data to be added</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


