<div id="main-content" >

    <filter-bar 
        views="[{'id':'sectors', 'name': 'Visualisation'}, {'id':'sector-list', 'name': 'List'}]"
        current-page="sdgs"></filter-bar>


    <div class="row">
        <div class="col-xs-12 col-sm-3" ng-repeat="goalId in vm.sdg_goal_ids"></div>
            
            <img 
                class="sdg-img" 
                width="144" 
                height="144" 
                ng-src="{{vm.templateBaseUrl + '/images/sdg/sdg_goal_' + goalId + '.png'}}" 
                 />

        </div>
    </div>
</div>
